[2011-11-04 19:07] Filirom1 opened #3 "Update npm"
The npm version is empty, look :

[code]

[2011-11-11 15:20] #3 closed, assigned to nobody

[2012-09-04 14:37] isaacs opened #10 "Loosen dependencies"
This package depends on `mime@1.2.2`.  However, the mime package frequently updates the patch number to pull in additional mime types, without changing the API.  (At this time, it's at v1.2.7.)

While it makes sense to lock down a deployed application or website, perhaps even using git or `npm shrinkwrap`, a reusable library like form-data should be a bit more flexible.

Consider switching the dep

[2012-09-05 00:07] #10 closed, assigned to alexindigo

[2012-09-11 22:56] qq3a opened #14 "License"
What license is this distributed under? Please add a license file to clarify.

MIT, BSD, or Apache would be preferred, but obviously this is up to you.

Thanks!

[2012-09-12 07:06] #14 closed, assigned to felixge

[2012-10-03 05:37] fengmk2 opened #16 "Upload monitoring progress"
Is there a way to listen the upload progress event just like AJAX does?

Example in [Using_XMLHttpRequest](https://developer.mozilla.org/en-US/docs/DOM/XMLHttpRequest/Using_XMLHttpRequest?redirectlocale=en-US&redirectslug=Using_XMLHttpRequest#progress)

[code]

[2012-10-04 16:58] #16 closed, assigned to alexindigo

[2013-01-05 01:05] azylman opened #21 "doesn't support submitting to a url that requires basic auth"
The problem is this line:

https://github.com/felixge/node-form-data/blob/master/lib/form_data.js#L239

If you pass in a url such as http://username@password:host.com/path, you throw away the auth parameter from the parsed url. See http://nodejs.org/docs/latest/api/url.html#url_url for the possible fields returned by url.parse

[2013-01-08 08:09] #21 closed, assigned to alexindigo

[2013-01-15 10:05] jzaefferer opened #23 "Update Install instructions"
"Sorry, this isn't ready for you yet." seems slightly outdated...

[2013-01-16 00:50] celer opened #24 "Empty strings cause odd behavior"
Hi,

Thanks for the awesome library, I'm using it in a project I'm working on (hopjs) to drive the unit test framework/w request and I noticed that when I try to submit test forms with empty strings there are issues - but not when I submit the same forms using browsers.

When using express:

[code]

with this code

[code]

Setting 'X' to an empty string causes something to go sideways :( But if I

[2013-01-16 02:45] #24 closed, assigned to nobody

[2013-01-31 22:32] d1b1 opened #25 "stream ended unexpectedly"
I am running into a very hard to diagnose bug. When I try to use the file upload feature in this module it work for some requests and not for others. Hard to trace down. Is there something obvious? The API I am talking to is build using node, express and swagger.

Bug from REQUEST:

Error: MultipartParser.end(): stream ended unexpectedly: state = PART_DATA_START
    at MultipartParser.end (/Users/

[2013-02-18 16:53] bmeck opened #26 "FormData.append(x, []) freaks out"
https://github.com/mikeal/request/issues/435

[code]

[2013-02-19 15:58] bmeck opened #27 "Way to ensure form is not finished"
Right now we have some staggered streams coming in. We cannot always assure they will be appended by the time the previous one ends. Some way to ensure that the form should wait and submit later would be nice.

[code]

[2013-02-19 21:05] #27 closed, assigned to nobody

[2013-03-22 14:42] malixsys opened #28 "migrate to async 0.2.x"
A newer better async is available but I get unmet dependecies
    npm WARN unmet dependency [...]/node_modules/request/node_modules/form-data requires async@'~0.1.9' but will load
    npm WARN unmet dependency [...]/node_modules/async,
    npm WARN unmet dependency which is version 0.2.6

[2013-04-19 16:59] leeola opened #29 "GraphicsMagick Steams Failing?"
I am having trouble getting [node-gm](https://github.com/aheckmann/gm) streams to be accepted by form-data, for example the following code:

[code]

fails with an error

[code]

Note that file streams work no problem with form-data, but i just can't get the GM stream. Thoughts?

[2013-04-21 20:06] #29 closed, assigned to alexindigo

[2013-04-21 23:33] #28 closed, assigned to alexindigo

[2013-04-21 23:35] #23 closed, assigned to alexindigo

[2013-04-21 23:46] #25 closed, assigned to nobody

[2013-04-21 23:54] #26 closed, assigned to alexindigo

[2013-04-24 05:59] gc435 opened #31 "How to read JSON from a response?"
I need to get more than the `statusCode` from a response.  The webserver I connect to returns `Content-Type: application/json` that I need to read.  How can I read that JSON?

[code]

Perhaps I don't see any JSON because none is being sent.  Perhaps I need to add `Accept: application/json`.  How can I do that?

[2013-04-24 06:25] #31 closed, assigned to nobody

[2013-04-27 16:18] kapouer opened #32 "weird files in the npm package version 0.0.8"
Hi,
your .npmignore is not configured as you thought :)

[2013-04-27 17:08] kapouer opened #33 "please push git tags"
it's very useful to have them.

thank you

[2013-04-29 17:05] #32 closed, assigned to alexindigo

[2013-04-30 15:44] #33 closed, assigned to alexindigo

[2013-05-07 14:39] larsemann opened #35 "Where to end, when piping?"
Hi,

i'm using this construct in a "loop". Where to close/end the request?

I can't find it:
var http = require('http');

var request = http.request({
  method: 'post',
  host: 'example.org',
  path: '/upload',
  headers: form.getHeaders()
});

form.pipe(request);

request.on('response', function(res) {
  console.log(res.statusCode);
});

[2013-05-11 03:18] #35 closed, assigned to alexindigo

[2013-05-17 09:50] mereskin-zz opened #38 "Error on formData.append('key', ['bird','cute'])"
Object bird,cute has no method 'on'

Probably needs patch here:
https://github.com/felixge/node-form-data/blob/master/lib/form_data.js#L29

[code]

[2013-06-21 03:15] yyfrankyy opened #40 "Missing `Content-Length` in headers may cause nginx 411 Length Required Error."
I'm not sure this is a bug, but `content-length` should be prepared in headers so that server knows when the chunk datas end.

I fixed this in my own project about uploading a file by calling `getLength()` in headers, but this cause a lot time when sending a big file.

As I know, chrome added `content-length` before sending the whole post content.

[2013-07-05 14:59] fjurcovici opened #41 "tiny: when using http's request to submit, update the transfer-encoding header"
Something like:

options.headers["Content-type"] = options.headers["Content-type"] + "; boundary="  + form.getBoundary();

where options is what you pass as the first argument to request's constructor. Otherwise whoever is receiving the form data will not know how to parse it, and return a 400 bad request.

IMO it would be nice to add this to the readme.

[2013-07-07 20:35] #40 closed, assigned to alexindigo

[2013-07-08 02:55] sameid opened #42 "EADDRINFO on form request, using http library and form-data"

[2013-07-08 18:35] #38 closed, assigned to alexindigo

[2013-08-20 21:02] tj opened #47 "return request from .submit()"
does a limbo return for some reason: https://github.com/felixge/node-form-data/blob/master/lib/form_data.js#L295

need this to track progress etc

[2013-08-22 17:22] #47 closed, assigned to nobody

[2013-08-22 17:36] #42 closed, assigned to alexindigo

[2013-08-22 17:36] #41 closed, assigned to alexindigo

[2013-12-11 22:07] UndeadKernel opened #53 "Content-type is "text/plain" when sending Buffers"
I'm not entirely sure this is the expected behaviour, but there is room for improving the following:

I noticed while trying to send a "tar" compressed file through POST that the receiving end was not getting the file correctly. I was appending the file to the form like this:

[code]

The content type was set to "text/plain", something which was not right for this type of data. Wouldn't it make se

[2013-12-12 13:55] #53 closed, assigned to nobody

[2013-12-20 03:32] calebTomlinson opened #55 "double callback on form submit if target unreachable"
Submit's callback is being called twice if the service it is trying to connect to is unreachable.

[code]

prints:

[code]

[2013-12-20 05:19] #55 closed, assigned to alexindigo

[2014-02-21 05:44] mlito opened #57 "Extract data from POST form"
Hello
I'm trying  to use form-data module in order to upload binary files

Here is as snippet of code :

[code]

On server side I got request as it can  one . The question is : how can I extract file on server side from the POST request ?  Is there missing in the sent request some parameters ( like conten-type )

Your help will be valuable

The request on got on the server side  can be seen below

[2014-02-21 19:10] #57 closed, assigned to nobody

[2014-03-09 12:45] mlito opened #58 "Submit error processing"
Hello
I need to have some processing of return value form.submit
For error handling is it same  to have only .on('error') handler ()
or only process errors in callback function of form.submit ?
I have following code :

var requestSent = form.submit(targetUrl,function(err) {
            if (err) {
                deferred.reject(e);
            }
            console.log('Done');
        });

[code]

[2014-03-10 17:42] #58 closed, assigned to nobody

[2014-03-10 22:15] mlito opened #59 "Trying to upload non-exixting file"
Hello
I'm trying to process error in the case when trying to upload non-existing file as following

var form = new FormData();
var requestSent = form.submit(targetUrl,function(err,res) {
      if (err){
      //error processing ......
      }
}

but I got exception with following error :

stream.js:94
      throw er; // Unhandled stream error in pipe.

I tried wrap the call with try - catch block

[2014-04-18 01:10] reggi opened #61 "General form question?"
What's the difference between form-data and the post body? I'm assuming that form-data is a specific format that is arranged then put in the post body as a string, am I right? Thanks in advance, sorry for putting this here. If I am right how would one convert a form object to a string / buffer?

[2014-04-18 03:18] #61 closed, assigned to nobody

[2014-04-20 02:23] ckcollab opened #62 "Package.json problem?"
Hey there, sorry to bother, this is probably something wrong with my configuration. I run:

[code]

Result:

[code]

Even if I completely remove my own `package.json` it gets the error. I am getting this trying to install `npm install -g ionic` and narrowed it down to this.

Appreciate any help, thanks!

[2014-04-21 03:01] #62 closed, assigned to nobody

[2014-05-04 16:00] hustfyb opened #63 "_lastBoundary should append \r\n"

[2014-05-16 10:44] andyhu opened #64 "Memory leak when uploading large files using readable stream"
There is a big memory leak when doing a file upload. When appending a readable stream, it buffers entire content of the readable stream no matter if knownSize is given. I have profiled the app and the leak is from Buffer objects (more than 20, 000 of them, each have a size of 64k!). The file size more than 600M and it takes more than 600M memory, which is a big problem.
Here is the code when I tes

[2014-05-22 09:56] tcdaly opened #65 "Capture and examine message body"
Referring to the Node HTTP client example, instead of using 'form.pipe', is there a way to capture and examine the message body as a string before it is sent?

Something like this:

var http = require('http');
var FormData = require('form-data');
var fs = require('fs');

var form = new FormData();
form.append('my_field', 'my value');
form.append('my_buffer', new Buffer(10));
form.append('my_file',

[2014-05-25 19:20] jixunmoe opened #66 "Could you please update this module in npm reg?"
The one from `npm install form-data` missing
`content-type: multipart/form-data; boundary=--------0123456789`
this line when POST to target site.

Thanks in advance.

[2014-05-28 06:41] mdunisch opened #67 "Using HTTP-DELETE Method"
Im using node-form-data for some API-Calls. With HTTP-Post it works perfect, but i need "DELETE"-Method too.

I tried this:

[code]

But it seems that form-data dont phase the appends right with method=delete.

It there another way to do this?

[2014-05-31 15:52] m1sta opened #68 "Help request: Sending stream with unknown length"
Hi,

Firstly, much thanks for this package. While I'm stuck at the moment I'm sure it will have saved me a massive amount of effort.

I'm having a problem at the moment. I'm trying to send a stream that represents a file. I don't know the length of this stream (it's coming from busboy, which doesn't seem to expose it). At the moment I'm using the following, but I'm getting 'socket hung up' errors.

[2014-06-01 12:13] #67 closed, assigned to nobody

[2014-06-17 11:38] lfeng opened #71 "Error content length when readstream have start and end options"
I create a readstream with start and end options，the getLength get a error size

[code]

lib/form_data.js line 82

[code]

[2014-06-22 21:08] #66 closed, assigned to nobody

[2014-06-22 21:23] #68 closed, assigned to nobody

[2014-06-23 01:48] #65 closed, assigned to nobody

[2014-06-23 05:03] programble opened #74 "Content-Type not sent unless a filename is set"
See https://github.com/felixge/node-form-data/blob/master/lib/form_data.js#L127

Should be able to set a custom Content-Type without setting a filename.

[2014-06-23 17:29] #59 closed, assigned to nobody

[2014-06-24 06:46] #71 closed, assigned to alexindigo

[2014-07-09 20:32] rodrigok opened #78 "Can't set file encoding in options"
I can't set any other headers for file like file encoding. Maybe use the property options to pass some headers allows more flexibility.

[2014-08-13 13:26] macatadobe opened #79 "Error: MultipartParser.end(): stream ended unexpectedly: state = START"
I am new to node.js . I have created a node.js server which accepts post requests . I am using phonegap android application to send image on local server.

error: Error: MultipartParser.end(): stream ended unexpectedly: state = START

Snippet of code is as shown below . My form.on('end' ... is not getting called and there by my image is not getting uploaded on to the server

app.post('/upload', fu

[2014-08-14 02:56] #79 closed, assigned to nobody

[2014-08-21 22:07] nesimtunc opened #81 "Can't read body from response"
Hi,

[code]

P.S: It would be great to pass full url and headers to the submit method.

Thanks

[2014-08-23 10:11] #81 closed, assigned to nobody

[2014-09-01 06:33] kareka opened #82 "hanle Content-dispostion in request"
am trying to test a service which does file upload .and below is the sample data captured by fiddler.how i can handle this in form-data
-----------------------------7de3c303c07ba
 Content-Disposition: form-data; name="slow"

5000
 -----------------------------7de3c303c07ba
 Content-Disposition: form-data; name="file"; filename="short.csv"
 Content-Type: application/vnd.ms-excel

user,password,post

[2014-09-30 15:06] arb opened #83 "Set Custom Headers"
I would like to set the `content-transfer-encoding` header via `form.append`. Is this currently possible short of creating and managing ALL of the custom headers?

[2014-10-01 23:17] hueniverse opened #84 "1.0.0"
Please publish the current version as 1.0.0. Too many applications depend on it so it is not really practical to break it. Can always do a 2.0.0 if you need to change the API.

[2014-10-02 17:08] #84 closed, assigned to nobody

[2014-10-13 23:11] gCurtisCT opened #85 "File uploaded through request + node-form-data is corrupt on the other end"
See here:

http://stackoverflow.com/questions/26350068/corrupt-files-when-uploading-from-node

This could be an issue with request, though. I've cross-posted this there.

[2014-10-15 12:56] #85 closed, assigned to nobody

[2014-10-27 11:31] nvcken opened #88 "how make multipart/form-data work with utf-8"
I use request + form-data like this post
https://github.com/request/request/issues/1224#issuecomment-60570352

but It not work

[2014-11-18 03:45] derjust opened #90 "Unknown stream handling (content-length unknown)"
Hi everyone,

This is more a documentation/enhancement discussion than anything else:

My use case was to send a `ReadableStream` via `multipart/form-encoded` (more or less a form with just a `file` input field) to a remote host. The remote side was 'fxied' and I can't do anything about it.
Without the desire to create temporary files the challenge was to stream the input directly to the remote ho

[2014-11-26 17:17] mikemaccana opened #91 "form-data failes on browserify due to mime package"
`form-data` 0.1.4 uses `mime` 1.2.11 that does `content = fs.readFileSync(file, 'ascii')` which fails on mime.js:55 when called from browserify.

FYI request (which also requires `mime` directly, as well as requiring form-data) solved this with moving from `mime` to the new `mime-types` fork: see https://github.com/request/request/issues/455

[2014-12-03 06:39] petermilan opened #92 "How to append an object?"
Hello need to append object field something like:

[code]

but it will throw an error like this:

[code]

[2014-12-03 08:37] #92 closed, assigned to nobody

[2014-12-09 01:10] Nijikokun opened #97 "Fails on booleans, and possibly more."
You have a check for numbers but nothing else, using a simple `true` or `false` breaks the module.

[2014-12-09 02:06] #91 closed, assigned to nobody

[2015-01-02 01:35] cxreg commented on #64
This was fixed in https://github.com/felixge/node-combined-stream/pull/16 correct?  I ran into this issue as well but after upgrading combined-stream it seems to behave correctly now

[2015-01-02 11:01] frankrousseau commented on #64
Yes it's fixed!

[2015-02-03 15:54] naugtur commented on #74
@alexindigo If filename field is required, the current version must throw an error if only contentType is set instead of silently failing (would save me 2h today)
As for the use cases for it - there's plenty of APIs that ignore filenames but accept a content type. I don't have a problem with sending spam as filename, but `form-data` needs to tell me I have to. And seeing as you didn't implement it

[2015-02-27 05:34] imjared commented on #29
Just stumbled across this when I thought I was going to lose my mind. Probably not too helpful to anyone at this point but if some weary traveller finds this thread, adding the filetype in the stream solved my issue:

[code]

[2015-03-27 03:52] martindale opened #104 "SSL/TLS Not Supported"
When attempting to submit to an https endpoint, the following error is generated:

[code]

[2015-04-04 05:22] EzequielAdrianM opened #105 "Error while appending an image file"
socket.on('publication', function (postdata) {
        var form = new FormData();
        form.append('my_field', 'my_value');
        form.append('file', {
            filename: 'photo.jpg',
            ContentType: 'image/jpg',
            knownLength: 18906
        });
    });

This is the error on the console:

    [TypeError: Object #<Object> has no method 'on']

The idea is to send a POST re

[2015-04-04 21:21] alexindigo commented on #105
It's expecting to have file as stream object. https://nodejs.org/api/fs.html#fs_fs_createreadstream_path_options

[2015-04-30 22:43] kruchone opened #107 "_multiPartFooter Returning Function Instead of String"
Should _multiPartFooter be returning a Function? _multiPartHeader functions as I would expect.

Here is the printed _streams array, and you can see the function gets stringified:
`_streams:
   [ '----------------------------825868152491961295908473\r\nContent-Disposition: form-data; name="locations"\r\n\r\n',
     '96683cc9126741d1',
     [Function],
     '----------------------------8258681524919

[2015-05-08 17:23] formula1 commented on #90
Another Related PR here https://github.com/felixge/node-form-data/pull/70

This will be pretty important for me. It would not be ideal making a dependency on a fork, opening up multiple connections or creating a protocol for this : /

[2015-05-08 20:51] formula1 opened #108 ""Transfer-Encoding: chunked" for Arbitrary Streams"
https://gist.github.com/formula1/582b2acb8c1e6513fe1a#file-readme-md

So after wasting most of yesterday believeing this was busboy's fault then I believed it was superagent's fault and then I think it's form-data's fault. But I am lead to believe its actually associated to form-data not letting the request know that there needs to be an additional header specified in the initial request. So techn

[2015-05-28 01:16] NodeGuy commented on #92
How about if `append` receives an object then it assumes it should be encoded with `JSON.stringify` and it sets `Content-Type` to `application/json`?  This seems like a common use case to me.

It wouldn't be worse than the current behavior of `TypeError: Object #<Object> has no method 'on'`.

[2015-05-28 01:19] NodeGuy commented on #74
:+1: for being able to set `Content-Type` to `application/json`.

[2015-05-28 01:22] alexindigo commented on #92
it maybe common case for some apps, but some other apps work with url-encoded data, and even with url-encoding there are multiply ways, like standard HTTP way and PHP array-friendly way.

And if all you need is `JSON.stringify`, there should be no problem in doing it in "user"-land (i.e. `form.append('data', JSON.stringify(myData))`, right?

Throwing errors in general meant for developer errors, t

[2015-05-28 01:28] NodeGuy commented on #92
Excellent points, I agree.

[2015-06-10 10:37] dgsunesen opened #111 "Update combined-stream"
See this: https://github.com/request/request/pull/1560#issuecomment-110675511

[2015-06-11 12:07] dgsunesen commented on #111
tldr;
Update "combined-stream" dependency to version ~1.0.1

[2015-06-12 06:57] dgsunesen commented on #111
Ping

[2015-06-13 15:51] alexindigo commented on #111
hey, sorry for the delay. It's getting there.

https://github.com/felixge/node-form-data/pull/114 and https://www.npmjs.com/package/form-data

[2015-06-13 15:53] alexindigo commented on #104
I updated tests, to use local server (with self-signed certificate) and it works all along.
Here is Travis with `0.10`, `0.12` and `io.js` – https://travis-ci.org/felixge/node-form-data/builds/66670575

Can you show me your code that generates this error?

Thank you.

[2015-06-13 20:46] alexindigo commented on #64
Pulled in updated `combined-stream` into `v1.0.0-rc1`, please take a look. Thank you.

[2015-06-13 20:46] #64 closed

[2015-06-13 20:47] #111 closed

[2015-06-13 21:21] alexindigo commented on #97
Seems like example above solved the problem. Closing.

[2015-06-13 21:21] #97 closed

[2015-06-13 21:37] alexindigo commented on #82
Hey can you elaborate on your question? And maybe throw in pieces of code too? Thank you.

[2015-06-13 21:44] alexindigo commented on #88
It's been solved in the referenced thread.

[2015-06-13 21:44] #88 closed

[2015-06-13 21:46] #105 closed

[2015-06-13 21:47] alexindigo commented on #107
Can you elaborate on the issue and maybe provide some code for better understanding. Thank you.

[2015-06-13 21:59] alexindigo commented on #90
It will be solved in `1.0` as proposed in #70.

[2015-06-13 21:59] #90 closed

[2015-06-30 15:15] plamen-paskov-pp opened #116 "Submit multidimensional array"
Hey,
Sorry if that already exists but i can't submit multidimensional array like this:

var formData = {
    key1: 'key1',
    key2: {
        innerKey1: 'foo',
        innerKey2: 'bar'
    }
};

[2015-06-30 18:35] alexindigo commented on #116
I think this thread would shed light on the problem: https://github.com/felixge/node-form-data/issues/92

[2015-07-01 07:09] plamen-paskov-pp commented on #116
thanks @alexindigo ! i found the solution there. for php end it is something like

var formData {
    'data[key1]': 'val1',
    'data[key2]': 'val2'
};

[2015-07-01 07:09] #116 closed

[2015-07-06 23:14] erikmellum opened #117 "404 when specifying host, and path in first argument of form.submit"
var form = new FormData();
      form.append('name', project.name);
      form.append('description', 'blerg');
      form.append('project_id', project.notableProject.id);
      form.submit({
        host: 'http://host.notable.dev',
        path: '/api/v1/prototypes',
        headers: {
          'Authentication': 'secret'
        }
      }, function(err, res) {
        if(err) console.log("ERR: ",

[2015-07-07 09:49] BernhardBln commented on #74
Alex - don't agree, when you send a json as one part, which should be processed by the server, you just want to set a name, but not a filename, as it will be parsed but not saved anywhere.

[2015-07-07 09:53] BernhardBln opened #118 "Content-Type "false" set when file does not have an extension"
When you send a file with a filename that does not have an extension, the content type of that part is set to "false", which obviously ends in an error when talking to the server.

The problematic part is this line:

[code]

mime.lookup returns false, when it can't determine the content type.

Maybe replace by this?

[code]

[2015-07-07 17:25] erikmellum opened #119 "Why doesn't the request body look 'normal'?"
My form code:

    var form = new FormData();

    form.append(project.name+'.zip', fs.createReadStream("/"+project.name+'.zip'));
    form.submit({
        host: 'http://host.mysite.dev',
        path: '/api/v1/prototypes',
        headers: {
          'Authentication': 'secret'
        }
      }, function(err, res) {
        if(err) console.log("ERR: ", err)
        else console.log("RES: ", res

[2015-07-08 12:22] EzequielAdrianM commented on #105
Thankyou, the problem was solved!

[2015-07-16 15:47] DylanPiercey opened #121 "Support isomorphic js."
It would be helpful if we pointed the "browser" field of package.json to a stub that exported the native FormData in the browser.

I can create a PR if necessary.

[2015-07-16 16:44] alexindigo commented on #121
I'm not sure that I follow you. But yes, PR should clarify the matter. Thank you.

[2015-07-22 01:34] DylanPiercey commented on #121
Merged in #122.

[2015-07-22 01:34] #121 closed

[2015-07-22 02:15] DylanPiercey commented on #83
You can add to the headers when you retrieve them from form data like so:
[code]

Not sure if this is what you are looking for.

[2015-07-22 02:43] alexindigo commented on #63
Fixed in #123

[2015-07-22 02:43] #63 closed

[2015-07-22 03:15] DylanPiercey commented on #118
:+1:

Would certainly be better to default to `application/octet-stream`.

[2015-07-22 03:21] DylanPiercey commented on #74
:-1: for "content-type" of "application/json". "multipart/form-data" should work just fine for this case? Also this would deviate from the spec.

[2015-07-22 03:30] DylanPiercey opened #124 "Strive for symmetrical API to browsers FormData."
It would be awesome if this library acted a bit more like a serverside polyfill for FormData in the browser.

Here are a list of things that are currently missing (Feel free to comment more):
### Existing Methods
**FormData.append(String: field, String: value, Object: options)**
Should allow for options to be a String that is the file name.
https://developer.mozilla.org/en-US/docs/Web/API/FormData

[2015-07-22 03:53] alexindigo commented on #124
:+1: Looks like a plan

[2015-07-22 04:42] DylanPiercey commented on #124
After realizing that the `new methods` are not in the spec and are specific to chrome and firefox I am unsure if we should implement them. However I think it would be good to leave this issue open for others to add api differences with the browser.

[2015-07-22 13:02] arb commented on #83
This was so long ago, I don't even remember what I was doing with this.

[2015-07-22 13:02] #83 closed

[2015-07-22 14:13] DylanPiercey commented on #124
@alexindigo What is your opinion on making form-data expose the global FormData?

This would likely be a 2.x thing, however I think it would position the library as more of a "browserfill", similar to node-fetch which exposes global fetch.

Unrelated:
You may find this interesting https://github.com/bitinn/node-fetch/pull/31.
Node-fetch will now automatically work with node-form-data :).

[2015-07-22 15:59] alexindigo commented on #124
Like `global.FormData` on library level?

And great job on bringing libraries closer together (but not too close to keep it PG) :) Thanks.

[2015-07-22 16:18] DylanPiercey commented on #124
`global.FormData` exactly. It's generally bad practice (obviously), however in the sense of a polyfill for FormData (on the server side) this would make sense and is exactly what node-fetch does.

To keep compatibility with older versions we could still expose FormData via module.exports but also expose it as a global.

[2015-07-22 16:55] alexindigo commented on #124
Main purpose of this module is to allow form submission from the server-side. Exposing global variables by default would be very unexpected by majority of consumers. But I see your desire for isomorphic all the things!™ :)

How about if we'd have another module, that would announce it's global nature more explicitly.

For example:

package.json:

[code]

index.js:

[code]

[2015-07-22 17:00] alexindigo commented on #104
Seems like no longer an issue.

[2015-07-22 17:00] #104 closed

[2015-07-22 17:05] alexindigo opened #126 "Update dependencies."

[2015-07-22 17:40] DylanPiercey commented on #124
@alexindigo I think that is a great idea since it wouldn't require a major release.
"global-form-data" would be nicely descriptive but part of me wants to suggest "node-form-data".
Either would do fine though.

The only concern is if users might find it confusing to have two packages - not sure if thats an issue.

[2015-07-22 19:20] alexindigo commented on #124
New module would behave exactly as the original one plus global export which is specified in the name.
And good readme file would always help.

Only confusion I can see could happen with versions, for that case owner of the new module, could stick to strict version dependency and update the package along with `form-data`.

Like:

[code]

[2015-07-22 19:56] alexindigo commented on #126
https://gemnasium.com/felixge/node-form-data

[2015-07-23 00:55] DylanPiercey commented on #124
@alexindigo I think a "*" dependency would be fine in this case or at most a "^1.0" or "1.x".

As for names, after thinking about it a bit I quite like `isomorphic-form-data`. See https://github.com/matthew-andrews/isomorphic-fetch.

[2015-07-23 01:57] DylanPiercey commented on #124
@alexindigo What is your opinion on supporting passing a form element to the FormData constructor?

It may be a bit crazy - (Currently I have never needed this) - however after thinking about it, one potential use case would be supporting something like JS-DOM. This could make testing form submission with JSDOM a bit easier.

We could defer the actual form parsing logic to a dependency, keeping ch

[2015-07-23 02:10] DylanPiercey opened #131 "Add node-fetch example to documentation."
Since https://github.com/bitinn/node-fetch/pull/31 it is very easy to use node-fetch with form-data.
I think it would be good to add an example of using node-fetch with node-form-data.

[code]

I would create a PR but I am unsure where exactly this would be best placed in the docs, or if it should at all.

[2015-07-23 02:20] alexindigo commented on #131
Great idea. Alternative submissions would be the good place. You can add it before Notes section. Thank you.

[2015-07-23 04:16] alexindigo commented on #117
This part should be more like:

[code]

There is separate property for the protocol.

[code]

But `http` is the default one, so you can omit it.

[2015-07-24 02:11] DylanPiercey opened #133 "More accessible custom headers."
With https://github.com/felixge/node-form-data/pull/128 we can easily modify the code to automatically wrap a "header" object into the full header for convenience,

This would change this:
[code]

Into this:
[code]

Which is a bit more user friendly with less manual string manipulation.

[2015-07-24 03:30] #118 closed

[2015-07-24 03:33] alexindigo opened #134 "Converting this repo to an org"
@felixge Looks like life is getting back to FormData, and it's being an org would allow it to be more flexible and (hopefully) improve responsiveness to issues. Thank you.

[2015-07-24 03:39] alexindigo commented on #133
Totally, if we preserve original way, you know for people who looooove control. :)

[2015-07-24 04:13] #126 closed

[2015-07-24 09:19] simov opened #137 "Error when trying to write boolean type"
Hi, there,

We recently had this bug report https://github.com/request/request/issues/1693 in *request*

It turned out that the user passes a `boolean` value to one of the form-data's fields (`field:false`) that results in [_http_outgoing](https://github.com/joyent/node/blob/v0.12.6/lib/_http_outgoing.js#L433) error in core.

My question is: Is the best place to fix that issue [here](https://githu

[2015-07-24 15:28] alexindigo commented on #137
There is more than one way to express boolean value as a string, I mean there are many servers/apps that do it differently. For example just few I bumped into in the recent years:

`"true" vs "false"`
`"1" vs "0"`
`"1" vs ""`
and
`"1" vs <don't send that field at all>`

So we can't make it as library decision, it's something that developer should decide between their code and server they're talkin

[2015-07-24 15:35] simov commented on #137
I see, good point. Either error message or stringify should be ok.

And yet, why is the number stringified then? The number is received as a string on the server, which again is not the way you passed it to the module.

[2015-07-24 15:46] alexindigo commented on #137
Everything is a string on the wire. :) And there are not so many way to represent numbers as a string, I can come up with two on top of my head:

`6 -> "6"` and `6 -> "VI"` :)

[2015-07-24 16:08] simov commented on #137
Got it. From the server's perspective the stringified `true` and `false` words may be too opinionated, like for example if the client is written in Python, these values may as well be `True` and `False`.

[2015-07-24 16:21] alexindigo commented on #137
In PHP land you'd see a lot of `if ($_POST['value'])` or with latest trend on being strictly equal, something like `if ($_POST['value'] === '1')`. :)

[2015-07-24 16:56] felixge commented on #134
Sure, where should this go? github.com/node-form-data/node-form-data ?

[2015-07-24 16:58] alexindigo commented on #134
Thanks. Maybe just `form-data` – to match npm package name, but either is fine.

[2015-07-24 16:59] felixge commented on #134
@alexindigo i.e. github.com/form-data/form-data ?

It's up to you, as far as I'm concerned this is your project by now :)

[2015-07-24 17:01] alexindigo commented on #134
Yes `github.com/form-data/form-data`. Thank you. :)
And your spirit is still alive here. :)

[2015-07-24 17:09] alexindigo commented on #124
Btw, I found interesting thing:

[code]

[2015-07-24 17:12] alexindigo commented on #124
As for form parsing, I think it should be different module as well. Maybe we'd expose more guts from FormData for other module to be able to use it in more efficient way.

Btw, we're creating new org for this project, so this new module and that isomorphic shim you mentioned could be under same umbrella if you like.

[2015-07-25 22:38] alexindigo commented on #134
@felixge this – https://github.com/form-data

[2015-07-26 05:48] DylanPiercey commented on #137
@alexindigo, i just checked how the browser formdata handles this and it does in fact cast booleans to strings. I think it would be generally convenient for node-form-data to do the same. Consumers of the formdata (another server) are going to have to cast some of the strings sent anyways so I think this makes sense.

[2015-07-26 06:00] DylanPiercey commented on #74
Completely disregard my previous content, I was thinking the content-type header for the entire request.

This should be an easy fix. Will create a PR tomorrow.

[2015-07-26 09:20] simov commented on #124
Just a question: why is this module supposed to be a polyfill for the browser's FormData class? That scenario would be possible to use only via Browserify, Webpack or something like that, and then again I don't see the point.

I would rather like to see the actual multipart body generation cleaned up and extracted into a separate module along with all of the stream helper functions around it. If t

[2015-07-26 13:44] alexindigo commented on #124
That's the plan, to make it library for libraries. We will split it. And yes Streams need more love. :)

First step would be test coverage, though.

[2015-07-26 13:45] alexindigo commented on #124
Thanks for the opinion btw.

[2015-07-26 13:58] simov commented on #124
@alexindigo not a problem. I'm also not against the polyfill, I just want the generation logic as a separate module :)

Here are a few `form-data` related tests in request (in case they may help you):

- https://github.com/request/request/blob/master/tests/test-form.js
- https://github.com/request/request/blob/master/tests/test-form-data.js
- https://github.com/request/request/blob/master/tests/te

[2015-07-26 14:03] alexindigo commented on #124
Yep, I do like leveldb approach. And thanks a lot for the tests. We'll incorporate them into new test suite.

[2015-07-26 14:22] DylanPiercey commented on #124
I think it would be awesome to have a library more focused on multipart generation without things like "submit". It would allow for us to more easily do a polyfill in the future.

Having said that this would involve turning the library into more of a utility with less features and with so many dependants I'm sure lots would break.

@alexindigo what are your thoughts on something like " form-data-c

[2015-07-26 14:35] alexindigo commented on #124
@DylanPiercey I thought you'd like the idea of `submit`-less FormData :) Exactly like in the browser.

For now Grandiose Plan looks like following:
- Cover everything with tests
- Release 1.0 and start semvering
- Start breaking things

And the actual libraries, we need something that does streaming multipart for sure.

Then bunch of plugins to determine content length and type.

And seems like we

[2015-07-26 22:31] alexindigo commented on #137
It might be bug in the browser implementation. Clearly it's the least expected default, most used would be `1` and `0`, but again it doesn't cover all the cases. So I'd go for being more explicit, shorter path to bug discovery. Then let people test it it with `if ("true")` and fail in prod with `if ("false")`.

Higher order libs could provide default and custom mapping functions, to be more user-

[2015-07-27 00:09] alexindigo commented on #74
Thanks to @DylanPiercey it's going out with `1.0.0-rc3`.

[2015-07-28 00:10] DylanPiercey commented on #137
I'm not sure the "false" thing is an issue. Users are going to have to convert their values to the native types regardless since we can't transfer type information with formdata.

I would argue that it would best to follow the browser spec since it's likely that any server that is going to accept this post data would also want to except multipart forms from the browser and it would be inconvenient

[2015-07-28 01:49] alexindigo commented on #137
In many cases client side passes empty string as false and script just treat it as falsy value.

As for crashing :) You'd want your script to crash other than proceeding in unknown state, like wiping out your database, or charging all your customer's credit cards, or just executing inject piece of code on your server. :)  Crashing in prod is not bad, in many cases it's the best case scenario. :)

[2015-07-28 02:00] DylanPiercey commented on #137
I think it's less about crashing in prod and more about it not being the expected result. Also where does JavaScript pass empty strings as false? Surely it's falsy but Its not like its going to get casted to a Boolean before being sent out as form data.

[2015-07-28 04:18] alexindigo commented on #137
Most webapps still built expecting data coming from html forms (if it comes from js apps, usually it's a json blob, unless files).

And many server side endpoints looks like that:

[code]

Not only in PHP, but in all flavors of languages.

Examples: https://github.com/search?q=If+%28%24_POST%5C%5B&type=Code&ref=searchresults

Again, there should be all kinds of libraries doing it in all possible w

[2015-07-28 04:20] DylanPiercey commented on #137
All I'm saying is that this is what is outputted when a multi part html form is submitted, I figured we would want to model that.

[2015-07-28 04:21] alexindigo commented on #137
I see. In the `isomorphic-` one for sure. And maybe we'd have `oldskool-form-data` where we'd convert `true` -> `1` and `false` -> `0`. :)

[2015-07-28 04:54] felixge commented on #134
@alexindigo https://github.com/form-data/node-form-data - I'll leave it to you if you want to rename the repo further.

[2015-07-28 04:54] #134 closed

[2015-07-28 05:36] alexindigo commented on #134
Thank you @felixge.

[2015-07-28 05:51] alexindigo commented on #137
i was investigating a little bit more and now having second thoughts. That world has changed and accepting `false` as `"false"` might be new normal.

I think think this kind of functionality belogs to the higher level libs. And that leveldb approach is the healthiest one.

So we'd let low level lib to deal with multipart and be strict on what it accepts.
And `form-data@2.x` be more like it's brows

[2015-07-28 06:28] Ockejanssen opened #139 "browserify form-data is not possible anymore"
It is not possible to browserify form-data anymore. The version rc1 worked.

[2015-07-28 14:16] alexindigo commented on #139
Thanks for the report. Is it erroring out? Care to provide the error?

[2015-07-28 18:17] #131 closed

[2015-07-29 06:31] Ockejanssen commented on #139
./node_modules/.bin/browserify --ignore mime --ignore compress -t cssify -t jadeify -t brfs test/views/stats.js -o public/scripts/views/test/stats.js

.../node_modules/request/node_modules/form-data/lib/browser.js:1
(exports, require, module, __filename, __dirname) { module.exports = FormData;
                                                                     ^
ReferenceError: FormData is not de

[2015-07-29 15:20] alexindigo commented on #139
@DylanPiercey you have more experience with browserify and looks like it's related to your fix.

[2015-07-29 17:03] DylanPiercey commented on #139
The current browser shim just exposes native formdata.@Ockejanssen Whats the purpose of using the browserified version of the node module?

To prevent this error we return a noop if the browser does not support formdata. (In the future we can provide a polyfill).

[2015-07-30 03:24] alexindigo commented on #74
Fixed in #138

[2015-07-30 03:24] #74 closed

[2015-07-30 05:34] Ockejanssen commented on #139
I just browserify the request module which uses form-data.

[2015-07-31 00:44] DylanPiercey commented on #139
@Ockejanssen I don't know that using `request` with browserify is a practical use case. The file it generates is upward of 400kb (Just for ajax seems a bit absurd).

Currently we are working on turning this library into an isomorphic polyfill of sorts for the native form-data and as such the "browserified" version of this module simply returns the native module. I think that rather than encouragin

[2015-07-31 01:01] DylanPiercey commented on #137
@alexindigo So are you thinking this is @2.x fix? Or is this something we should apply to rc4? It's a simple fix and since previously it just errored it should be additive so it might not be bad to include pre 2.0.

[2015-07-31 01:03] DylanPiercey commented on #117
I think this is resolved? @erikmellum Does that work for you?

[2015-07-31 01:10] alexindigo commented on #137
I think we should error in 1.x and mimic browser's FormData in 2.0.

Just to clarify, I see 1.0 as stepping stone towards the future mostly focusing on cleaning up tech debt and old deps.
So it will be the same as before but better inside. Like Mountain Lion to OSX. :)

And we'd adding features and split into pieces in 2.0.

[2015-07-31 01:15] DylanPiercey commented on #119
This seems like you are trying to cast the FormData instance to JSON? Did you figure this one out?

[2015-07-31 01:21] alexindigo commented on #119
It's stream object, with added FormData private properties.

And you don't need to have protocol in the host field (remove `http://`).

And to print response from the server, do following:

[code]

[2015-07-31 01:23] alexindigo commented on #119
Oh and your filename path starts with `/`, are you sure you have your file in the specified path?

[2015-07-31 01:59] alexindigo commented on #82
I'll close it for now. Let me know if your have more questions/details.

[2015-07-31 01:59] #82 closed

[2015-07-31 02:02] alexindigo commented on #117
@erikmellum Please let us know if you have follow up questions. Closing for now.

[2015-07-31 02:02] #117 closed

[2015-07-31 02:40] DylanPiercey commented on #78
@rodrigok what header are you trying to set and what would be your expected (example) output formdata string?

[2015-07-31 11:46] rodrigok commented on #78
@DylanPiercey, sorry I can't remember, was 1 year ago :(

[2015-08-01 04:18] alexindigo commented on #107
Closing. Let me know if you have further questions.

[2015-08-01 04:18] #107 closed

[2015-08-01 04:19] alexindigo commented on #78
Ok, let us know if you have further questions. Closing.

[2015-08-01 04:19] #78 closed

[2015-08-05 15:44] simov commented on #139
@DylanPiercey our browserify tests are passing, although they are pretty basic. As for whether it's practical or not - if it was working up until now, and currently it's not, without a major release, then that's a bug that should be dealt with.

If you think that a small fix in request will do, I'm fine with it. I'm only concerned with adding ever more dependencies there. Request is also going to

[2015-08-09 05:20] DylanPiercey commented on #139
@alexindigo I think we can remove this in favor of https://github.com/form-data/isomorphic-form-data.

[2015-08-09 05:39] alexindigo commented on #139
@DylanPiercey I'd prefer to keep for those who doesn't want/can't do different packages in the browser/server and/or have third+ level dependency.

Although I'm yet fully understand logic behind Browserify's bundler. So if you and @simov think we'd be better of without it, I'm down.

[2015-09-20 13:37] ksahin opened #146 "Using form-data with request, question about boundary"
Hi,

I'm using form-data with request module, and I want to use a custom boundary.

I want my request to look like :
[code]

Here is what my code looks like :
[code]

But It's not working, I 'm sending this :
[code]

In the form-data doc I saw something interesting for my problem :
[code]

But since I'm using it with request I don't really know how could I do this.

Thank you

[2015-09-20 13:41] simov commented on #146
[code]

[2015-09-20 13:47] ksahin commented on #146
I'm already doing this, in my "options" object there are lots of headers already defined :
[code]

It does not solve my problem

[2015-09-20 13:51] simov commented on #146
Right that's for [multipart/related](https://github.com/request/request/blob/master/lib/multipart.js#L56) I was thinking about something else. No idea how to change that for `multipart/form-data` although it should be possible, probably.

[2015-10-06 14:41] mavrick opened #147 "null check inside append()"
Hey,

Can we get a null check or an undefined check on the value param inside the `FormData.prototype.append` function please?

`/lib/form_data.js:25`

[code]

Otherwise you end up with an uncaught exception inside of `FormData.prototype._multiPartHeader` on line 151

Cheers

[2015-10-22 02:02] DylanPiercey commented on #119
@alexindigo close this until we here otherwise?

[2015-10-22 07:27] alexindigo commented on #119
Yep.

@erikmellum feel free to add more details and reopen the issue if you want to continue this discussion. Thank you.

[2015-10-22 07:27] #119 closed

[2015-10-25 16:17] Dignifiedquire opened #149 "How to add a directory recursively"
I'm looking into uploading a whole directory, e.g.
[code]
using multipart uploads, so that the resulting request looks something like this:

[code]

while ideally having an API like this:

[code]

I know this is not possible at the moment, but do you have any suggestions on how this could be best achieved, or if this is even a feature you would consider adding? Thanks.

[2015-10-25 17:34] simov commented on #149
You can easily implement that in your application layer. Why do you think that recursive file system operations have something to do with a module that generates multipart/form-data bodies?

[2015-10-30 09:01] Dignifiedquire commented on #149
I'm sorry this was mostly issues in my application code.

There is one thing I would need from this library though. I'm tring to pass a path as filename as my server expects that, but it always gets stripped via path.basename. So I was wondering if there could be an option so I could pass in a filename without it being modified before sent.

[2015-10-30 09:21] simov commented on #149
I'm not sure if that's part of the `multipart/form-data` spec. However you can use a more generic multipart type like `multipart/related` for example. Take a look [here](https://github.com/request/request#multipartrelated).

So for example you can use it to build your own `form-data` implementation:

[code]

Basically you need to walk recursively through your directory and `push` each file into `A

[2015-10-30 09:29] Dignifiedquire commented on #149
Thanks for the quick reply, I will try that.

[2015-10-31 10:54] simov commented on #149
@Dignifiedquire there you go:

[code]

The only place where I cheated was that I recreated the destination directory structure by hand, I'm leaving that final touch to you :)

[2015-10-31 11:08] Dignifiedquire commented on #149
![giphy](https://cloud.githubusercontent.com/assets/790842/10863276/1081d01e-7fc8-11e5-9de7-f449873f27ba.gif)

[2015-10-31 11:08] #149 closed

[2015-11-05 15:03] krusk opened #151 "Documentation to include HTML Form"
Hi all,
Is it possible to add some documentation that shows the client side/HTML, for example, of a form input that shows how to upload a file? Its create to see the node backend, but it may help users to see a sample form and how this gets passed to the backend.
Regards,
Kelly

[2015-11-05 17:51] alexindigo commented on #151
Hey,

Not sure I understood your question correctly. `node-form-data` is server-side (nodejs) only library, that can upload data to other servers (that expect multipart encoded submission).

So it has nothing to do with client-side and doesn't "touch" anything in a browser. So I'm not sure we can come with example for something that doesn't exist.

Do you mind to elaborate on your use case and may

[2015-11-05 18:28] krusk commented on #151
Hi,

I am looking for an example of someone uploading a file via an HTML form, then processing the upload via Node. I believe this will help others in passing formdata in.

Regards,

Kelly

Sent from Outlook<http://aka.ms/Ox5hz3>

On Thu, Nov 5, 2015 at 9:51 AM -0800, "Alex Indigo" <notifications@github.com<mailto:notifications@github.com>> wrote:

Hey,

Not sure I understood your question correct

[2015-11-05 18:51] alexindigo commented on #151
Sounds like you're looking for this library – https://github.com/felixge/node-formidable

[2015-11-06 14:45] abhikakade opened #152 "http_proxy & https_proxy with form-data"
I am trying to to form-data plugin behind proxy, I have http_proxy & https_poxy varaible in place, however form-data submit method is not working, I also dont see any option to pass proxy server manually to this. is there any way to do this?

[2015-12-05 23:54] DylanPiercey commented on #137
@alexindigo what are your thoughts on adding a 2.0 want list? I'd love to see this future as soon as possible. (Casting values to strings by default).

[2015-12-06 00:01] DylanPiercey commented on #147
@mavrik in @2.0 we are going to `String` all values in am effort to make the api symmetrical to the browser api which will fix this issue.

[2015-12-06 00:05] DylanPiercey commented on #152
@abhikadude can you post some example code? Also I am curious if you are able to achieve this using other libraries with `form-data` like `request` or `node-fetch`?

Also @alexindigo what are your thoughts on removing #submit in @2.0? This would make the api more symmetrical while shrinking the code surface and delegating more to libs people are likely already using?

[2015-12-08 12:28] gitoverflow opened #153 "Get http json response"
How can i access the http body response ?

Thats the code im using right now, but i can't detect a body in the res object.

`value.form.submit(url, function (e, res) {
    deferred.resolve(res);
});`

[2015-12-17 11:31] kevinprotoss opened #154 "`knownLength` causes socket hang up error"
Hi,

I met across socket hang up error always if I set `knownLength` incorrectly, e.g., `knownLength` is 1, or smaller than actual length of file content.
If I removed `knownLength` option, it works.

Is this option be used for open file stream as well?

Bg,
Kevin

[2015-12-17 22:12] alexindigo commented on #154
`knownLength` is used for data of "known" length, when you don't need/want FormData try to get/guess length of the content.

for regular filestreams FormData does `fs.stat` call to determine file size: https://github.com/form-data/form-data/blob/master/lib/form_data.js#L114

[2015-12-18 09:20] kevinprotoss commented on #154
Yes, I understand. However, if I gave the knownLegnth but incorrect, e.g., smaller than actual length, what will happened? Why I always get such an error. It looks like the file stream is interrupted .

[2015-12-18 12:07] andersonlevita opened #155 "Lowercase headers"
In getHeaders method, headers keys are converted to lowercase. And the api server is case sensitive.

[2015-12-31 01:13] dcsan opened #157 "how to capture form post response?"
I'm trying to use your built in methods to post a form but can't see how to capture the response output.
`response.body` is empty

[code]

I thought from your docs the 'res' is a (readable stream)[https://nodejs.org/api/stream.html#stream_class_stream_readable] so it should emit an event for incoming data?

[2015-12-31 01:14] dcsan commented on #157
my mistake. my process was ending before the response came in.

[2015-12-31 01:14] #157 closed

[2016-01-06 21:28] tarikihm opened #160 "SCRIPT5009: 'FormData' is undefined in IE9"
Is this on purpose or am I expected to include another third-party lib to support it on IE9?
I am using Request with Browserify (latest versions), which in turns depends on form-data.

[2016-01-07 04:06] alexindigo commented on #160
Hey,

Didn't know `request` works in a browser. :) I thought it's server-side project, and `form-data`  definitely is.
So for browserify we fallback to native browser `FormData` object (this is what it was implemented after).
In your case, something like `es5-shim` (haven't tried myself though) might help to bring old browsers up to speed with modern tech.

Or looks like `es5-shim` isn't enough ei

[2016-01-07 16:39] tarikihm commented on #160
Yes, that makes sense, I think it's mostly Browserify's job to ensure the browser compatibility, I just [reported](https://github.com/substack/node-browserify/issues/1474) this bug with them. I think `request` is also mostly or at least initially server-side and Browserify works to ensure it works too in the browser.

[2016-01-07 16:39] #160 closed

[2016-01-25 05:11] gexiaowei opened #162 "add custom Content-Type in formdata"
formdata version is updated 1.0.0-rc3。when I post multiPart data with Chinese, it will change to digital gibberish because of I can not custom  Content-Type by using request.filed(filed,value)
so I want know If can add a option param like  request.filed(filed,value,option) and this._formdata.append(filed,value,option)

[2016-01-25 06:18] alexindigo commented on #162
Hey,

Sorry for the mishap, do you mind to provide example of your code with example data?

Thank you.

[2016-02-02 02:25] gexiaowei commented on #162
for example like:
`var FormData = require('form-data');`
`var formData = new FormData();`
`formData.append('barId', barId);`
`formData.append('title',title, {contentType: 'text/plain; charset=UTF-8'});`
`var publicRequest = request.post(url);`
`publicRequest._formData = formData;`
`publicRequest.end`

I want to set the contentType of title 'text/plain; charset=UTF-8' I think it works only by this

[2016-02-02 23:35] ronag opened #165 "How to handle filesystem errors?"
Currently when uploading a file and a filesystem error occurs the request stream will be simply closed without the data being properly sent, which makes the server will think everything is good.

Somehow the request should be aborted on a filesystem error...

Any advice?

[2016-02-11 11:30] maxcc0 opened #166 "Error: DelayedStream#maxDataSize of 2097152 bytes exceeded."
events.js:141
      throw er; // Unhandled 'error' event
      ^

Error: DelayedStream#maxDataSize of 2097152 bytes exceeded.
    at FormData.CombinedStream._checkDataSize (C:\Apps\workspace\betty.acdb.ui\node_modules\form-data\node_modules\combined-stream\lib\combined_stream.js:165:19)
    at emitOne (events.js:77:13)
    at PassThrough.emit (events.js:169:7)
    at PassThrough.source.emit (C:\Ap

[2016-02-11 17:00] alexindigo commented on #166
Do you mind to provide code sample? Thank you.

[2016-02-11 18:06] maxcc0 commented on #166
Will share the required details in some time. Here's the info I can provide right now:

I am using node-multiparty to parse the form req and when the form emits part, I append it to the form-data.

This error  is originating @ combined-stream.
The default maxDataSize in combined stream is 2MB.

Here is the code snippet of combined stream:
CombinedStream.prototype._checkDataSize = function() {
  th

[2016-02-13 03:54] maxcc0 commented on #166
Here is the code sample:

let form = new multiparty.Form();

var payload = new FormData();
payload.append('auth', conf.documents.auth);

form.on('error', function(err) {
   tLogger.info('Error parsing form: ' + err.stack);
   callback(null);
});

form.on('field', function(name, value) {
    tLogger.info('got field ' + name + ' == ' + value);
     keywords.push(value);
});

// Parts are emitted whe

[2016-03-05 15:49] bojand opened #175 "RangeError: Maximum call stack size exceeded"
Hello, while investigating [mailgun-js issue #90](https://github.com/1lobby/mailgun-js/issues/90), I think I may be hitting a bug in the `form-data` module, or `combined-stream` possibly; not sure. Here's a simpler example:

[code]

[code]
output:
[code]

Interesting thing of note is that if I change the `p` parameters object, the maximum number of items `N` changes before I start getting the erro

[2016-03-14 14:40] scriptype opened #180 "ReadStream errors aren't being listened"
When trying to read a file which is used by other processes or is busy/locked for some reason, I'm getting this error on a Windows machine (same case seems not to be problematic on os x):

[code]

form-data module, in my case, is running inside [superagent](https://github.com/visionmedia/superagent) module which I'm using for handling http stuff in node. So checking whether a specific file exists

[2016-03-14 15:48] alexindigo commented on #180
Actually, it's the other way around. Libs don't have the knowledge of what is expected to do when such errors occur. So it's your files and your app's responsibility and understanding of what to do in case of an errors.

Let's brainstorm a little, for example that kind of errors handled somewhere inside the libs you are using. What action supposed to be performed if such error occurred, to make se

[2016-03-14 16:27] scriptype commented on #180
Hello @alexindigo, thanks for the quick reply. I agree that handling logic should be done in consumer side. The thing is, form-data isn't handling/catching these errors and process stops because of this.

form-data should've been listening for errors and emitting them as they are, without doing any opinionated operation on them. So any consumer could listen for errors and do consumer-specific logi

[2016-03-15 08:09] alexindigo commented on #180
I see. It does make more sense yes. Thanks for the explanation.

Since FormData is creating stream out of itself, you should be able to listen for the `error` event on your FormData instance.

and this is what CombinedStream does

[code]

Which looks like something you're describing.

Please let me if it helps.

[2016-03-15 08:37] alexindigo commented on #139
Spring cleaning here. Seems like it's no longer an issue, or doesn't produce a lot of interest. I'll close it for now. Let me know if it's still a concern. Thanks.

[2016-03-15 08:37] #139 closed

[2016-03-15 11:37] scriptype commented on #180
Thanks for the clarification.

Apparently we can directly listen our FormData instance for errors.

My issue doesn't seem to be related to here. Thanks again.

[2016-03-15 11:37] #180 closed

[2016-03-15 16:38] alexindigo commented on #133
@DylanPiercey Looks like this is the last one for 1.0, and we'll be good to go.

[2016-03-15 18:10] DylanPiercey commented on #133
@alexindigo sweet, I'll try to get to this within the next few days.

[2016-03-15 18:48] alexindigo commented on #133
Thanks man.

[2016-03-25 15:33] jasekiw opened #184 "Cannot reference in a browser script"
I cannot access the typings of this file in the browser because of the module.
If I do an import, it requires me to use requirejs which I want to compile into a single file. I took off the module statement for a temporary fix but I cannot seem to find anything on the internet to just reference the file at compile time and not runtime.

Thanks,
Jason

[2016-03-25 15:37] #184 closed

[2016-03-25 15:37] jasekiw commented on #184
realized this isn't for the browser...

[2016-04-14 06:57] bitinn opened #196 "Is there a way we can explicit check if we shouldn't call getLengthSync?"
We use `getLengthSync` to add `content-length` automatically, but in the case where you have streams, you can't really call `getLengthSync`, you need to use `getLength` callback to figure out the `content-length`.

While I do like `form-data` to explicitly encourage using `getLength` in readme, having a way so that we don't call `getLengthSync` when it's not suitable would be great too.

Not that

[2016-04-14 09:13] bitinn commented on #196
In addition to this, it would be great if we can actually detect the body is from `form-data` instead of guessing it by checking method names...

https://github.com/bitinn/node-fetch/blob/master/index.js#L85-L88

[2016-04-14 09:23] bitinn commented on #196
At the moment `this._lengthRetrievers.length` seems like the best indicator, but since it's intended to be private, it would be great if we can get a public getter for it.

Alternatively, when user has set `knownLength`, should we allow `getLengthSync` to return the `content-length` instead of throwing errors, since we already know the length at this point?

[2016-04-14 09:57] mcfedr commented on #155
Http headers are case insensitive according to the spec, you should handle this in your server code. http://stackoverflow.com/a/5259048/859027

[2016-04-15 16:06] alexindigo commented on #196
@bitinn Thanks for the ideas, do you mind to provide some code snippet to illustrate your vision for FormData?

And one thing to keep in mind, FormData couldn't have knowledge about all types of streams, it's already doing too much. So the best way would be to expose convenience methods to allow such things in "userland".

Thanks.

[2016-04-15 16:38] bitinn commented on #196
[code]

I am bad at naming stuffs. But this should do. Basically this is what triggered the error on getLengthSync.

[2016-05-06 12:05] bitinn commented on #196
It's been a while, do you suggest we go for `this._lengthRetrievers.length` instead? I see no other way to verify if a form-data object support `getLengthSync` or not.

[2016-05-10 08:41] mondwan opened #201 "Browserify of formdata does not has submit method"
Hello,

I have a problem when using this module with browserify. As browser field in `package.json` in this module honors `global.FormData`, however, the [builtin][1] one does not provide implementation for `submit`.

[1]: https://developer.mozilla.org/en/docs/Web/API/FormData

I get an exception from the compiled script about `submit is not a function` as a result.

I am wondering how to tackle t

[2016-05-10 08:42] mondwan commented on #201
Similar to tickets in #124 and #139

[2016-05-22 09:59] factorial commented on #175
I am having the same issue as @bojand in the same file but my problem is happening during construction of a request object from the request module, a package which also uses form-data module.

[2016-05-22 17:07] alexindigo commented on #175
Yeah, looks like it's async.parallel's doing. And there is somewhat related PR https://github.com/form-data/form-data/pull/204 – although it doesn't this specific problem. But we're in the works to fix/improve this part of the code.

[2016-05-28 10:18] jimmywarting opened #212 "new standard makes FormData not only writable"
https://www.chromestatus.com/features/5701572055007232

https://xhr.spec.whatwg.org/#formdata

I believe this is just extended version of [Map](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Map) or [Set](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Set)

So something along with this (but written in es5?) would be signifiant. Don't ha

[2016-05-30 10:29] turboza opened #213 "Cannot get the data out of FormData object"
I want to perform the test against the FormData object but it seems that there is no `FormData.get` method available.

I read the FormData api from here https://developer.mozilla.org/en/docs/Web/API/FormData. So I wonder why doesn't it has `get` method. How can I get the data from the FormData object?

[2016-06-01 16:00] mxr576 commented on #201
I have the same problem, I'm trying to browserify the [httpsnippet](https://github.com/Mashape/httpsnippet) library with webpack, which also depends on this module.
@DylanPiercey Can you help us? How can we do this with/without the isomorphic-form-data module?

[2016-06-01 16:11] mondwan commented on #201
My solution is sending request with [node-fetch][1] instead of using the `submit()` from form-data.

In my opinion, form-data and node-fetch play well together.

[1]: https://github.com/bitinn/node-fetch

[2016-06-01 18:06] DylanPiercey commented on #201
@mondwan That is the correct solution. As of https://github.com/bitinn/node-fetch/commit/ffac4177b0ba969219a65c373eb955cb161c3376 node-fetch will properly use FormData.

Personally I think the "submit" api should be removed as it deviates from creating a server side shim for FormData however this would break a bunch of stuff (as per https://github.com/form-data/form-data/issues/124).

I'm going to

[2016-06-01 18:06] #201 closed

[2016-06-01 18:12] DylanPiercey commented on #213
The #get method for FormData has just been recently added to chrome and firefox. I've updated https://github.com/form-data/form-data/issues/124 which strives for api symmetry with the browser to include these new methods. You can track progress there.

[2016-06-01 18:12] #213 closed

[2016-06-01 18:14] DylanPiercey commented on #212
I've updated https://github.com/form-data/form-data/issues/124 to include the new methods. We can continue the discussion there. PR's welcome!

[2016-06-01 18:14] #212 closed

[2016-06-01 18:15] DylanPiercey commented on #155
@mcfedr is correct. In fact in NodeJS server response headers are always automatically converted to lowercase.

[2016-06-01 18:15] #155 closed

[2016-06-01 18:19] DylanPiercey commented on #153
Submit returns a standard nodejs "http#request". You have to listen for "data" events, buffer the data and parse it yourself (or using a module). Check out https://nodejs.org/en/docs/guides/anatomy-of-an-http-transaction/ for more info.

[2016-06-01 18:34] turboza commented on #213
Thank you @DylanPiercey for informing. Your lib is very useful for Node. I will be looking forward to see the new release. :)

[2016-06-01 19:43] mikeal commented on #155
so, the right thing to do here is to *preserve* the casing and still treat headers as caseless. it's surprisingly annoying to do but it's the right approach.

i wrote a module for dealing with this that we now use in request https://www.npmjs.com/package/caseless

[2016-07-03 14:51] cvignac opened #220 "Error in delayed stream : TypeError: source.on is not a function"
Hello everybody,
I am trying to upload a file from a NodeJS server to an API that requires POST form-data request :http://docs.octoprint.org/en/master/api/fileops.html#upload-file

When trying to add the file to my form with form.append, I get the following error :
TypeError: source.on is not a function
    at Function.DelayedStream.create (/home/vignac/Bureau/paztech2/node_modules/delayed-stream/

[2016-07-04 15:50] dpvenkatesh-fk commented on #166
We are also facing same issue, did anyone found a solution or workaround for this issue?

Error: DelayedStream#maxDataSize of 2097152 bytes exceeded.

[2016-07-05 17:27] maxcc0 commented on #166
I took a code and made some changes to it. Here's the copy, do a require for this and use it the way you'd use form-data until a permanent fix is pushed:

[form-data.zip](https://github.com/form-data/form-data/files/348283/form-data.zip)

[2016-07-13 11:11] xaxiclouddev opened #227 "Address issue found in test/integration/test-http-response.js [Opened by bitHound]"
bitHound discovered 2 DuplicateFunctions in [test/integration/test-http-response.js](https://github.com/form-data/form-data/blob/9b8d70408037272765da4006df30f31b15aa7cfe/test/integration/test-http-response.js). For details go to [bitHound](https://www.bithound.io/github/form-data/form-data/blob/9b8d70408037272765da4006df30f31b15aa7cfe/test/integration/test-http-response.js).

[2016-07-13 16:30] alexindigo commented on #227
It's test files and they do have repeating patterns, to increase readability, making tests DRY would over complicated them. Although if you can produce compelling PR that would reduce duplication and won't hurt readability, it will be welcome. Thank you.

[2016-07-13 16:30] #227 closed

[2016-07-15 06:54] xaxiclouddev opened #228 "Address issue found in lib/form_data.js [Opened by bitHound]"
bitHound discovered 1 TodoComment in [lib/form_data.js](https://github.com/form-data/form-data/blob/ddb3762e4bc582e92e8b3576ef9bf52534aa8631/lib/form_data.js). For details go to [bitHound](https://www.bithound.io/github/form-data/form-data/blob/ddb3762e4bc582e92e8b3576ef9bf52534aa8631/lib/form_data.js).

[2016-07-15 07:37] alexindigo commented on #228
Yes, it's a bug in old version of nodejs. After we release 1.0.0 we will drop support of the old node version and will remove that chunk of the code with the corresponding comment. Thank you.

[2016-07-15 07:37] #228 closed

[2016-07-26 08:33] wuhaixing opened #234 "Cann't upload file appended to FormData with fetch"
The following code don't work:

[code]

So, I had to wrap submit into a Promise:

[code]

BTW,why cann't submit to an url? Why only

[code]

works?

[2016-08-04 14:33] BesatZardosht opened #239 "how to get upload progress info?"
I would like to get upload progress information during http post request. my code is simple and it works but I am only notified when there is an error or the upload is completed. But I need to show a progress bar to the user.

[code]

When I upload a file, nothing happens till upload is completed then I get the response and it executes response.onData and after that response.onEnd.

[2016-08-04 19:37] #239 closed

[2016-08-04 19:38] BesatZardosht commented on #239
I found a working example here: https://github.com/form-data/form-data/pull/56/files#diff-3b8080b944f5c64eb2514fe942b7c60fR60

[2016-08-05 14:24] Ferossgp opened #240 "Import on IE9"
There is any possibility to add support to IE9? Because if I import form-data I get FormData is undefined, and I can't write some alternative only for IE 9

[2016-08-05 16:23] alexindigo commented on #240
Hey, thank you for your interest. Although `form-data` is the server-side only library, it never meant to work in any browser. What it does it reimplements FormData native browser API for NodeJS.

Care to provide more information on what you're trying to achieve?

Thank you.

[2016-08-05 18:23] BesatZardosht opened #241 "Abort request"
Is there any way to abort a request after submitting the form?
I want to give users the ability to abort an upload after they started it.

[2016-08-14 02:25] DylanPiercey commented on #241
@BesatZardosht I don't think you can abort the built in "FormData.submit", however using something like https://github.com/sindresorhus/got you should be able to abort the request.

Let me know if this works for you so I can close the issue :D.

[2016-08-15 12:21] BesatZardosht commented on #241
I found out how to abort the request:
[code]

Thanks for your reply..

[2016-08-15 23:04] DylanPiercey commented on #241
@BesatZardosht awesome good job finding the solution!

[2016-08-15 23:04] #241 closed

[2016-08-15 23:07] DylanPiercey commented on #240
@Ferossgp in the browser this module just supplies the native Form-Data module.

Last I checked there was no good polyfill for form-data that wasn't grotesquely huge and out of scope for this module. I'm going to close this issue for now as there is nothing we can do currently for ie9 short creating a  polyfill.

If you do find a good and reasonably sized polyfill we can consider adding it to this

[2016-08-15 23:07] #240 closed

[2016-08-22 05:30] hueniverse opened #246 "RC?"
Just want to point out this has been published as an RC for 5 months now. If there is a reason for this, ignore me, but I have a feeling this was just forgotten... Please consider this a friendly and appreciative ping.

[2016-08-22 05:36] alexindigo commented on #246
Yeah. :) Thanks for the ping. We do need to get our stuff together.

We planned to address this issue for 1.0 – https://github.com/form-data/form-data/issues/133
@DylanPiercey what do you think can we squeeze it in, or leave for later?

[2016-08-22 17:17] hueniverse commented on #246
My advice is that versions are cheap and you can always release again. I stopped waiting for that one more issue to close before a release, event a major one.

[2016-08-23 06:58] DylanPiercey commented on #246
@alexindigo can you help refresh my memory what was missing from https://github.com/form-data/form-data/pull/190?

[2016-08-23 07:01] DylanPiercey commented on #234
@wuhaixing you are using https://github.com/bitinn/node-fetch or https://github.com/matthew-andrews/isomorphic-fetch right? Also what do you mean by doesn't work? Does it send the request without form data or does it not send the request?

[2016-08-23 07:03] DylanPiercey commented on #220
@cvignac why is value a primitive object? This should work fine in you change value to

[code]

Let me know if this solves your issue.

[2016-08-23 07:04] DylanPiercey commented on #153
Closing this for now, let me know if this didn't help your issue.

[2016-08-23 07:05] #153 closed

[2016-08-23 07:06] DylanPiercey commented on #151
@krusk are you looking to parse formdata in node js? or send formdata from the client?

[2016-08-23 07:07] DylanPiercey commented on #147
@alexindigo I think we should update this sooner than later, what's your thoughts?

[2016-08-23 07:09] DylanPiercey commented on #162
This can be done if https://github.com/form-data/form-data/pull/190 lands by doing

[code]

[2016-08-23 08:05] gexiaowei commented on #162
ok thank you so much

[2016-08-23 08:05] #162 closed

[2016-08-26 07:11] alexindigo commented on #246
@DylanPiercey Yeah, I don't remember myself. :) Ok, I'll take a look and cut out new version as @hueniverse suggested. I think he is right we did take too long with RCs :)

[2016-08-26 08:39] alexindigo commented on #133
Fixed in #190

[2016-08-26 08:39] #133 closed

[2016-08-26 09:05] alexindigo commented on #246
Published `v1.0.0`. Thank you.

[2016-08-26 09:05] #246 closed

[2016-09-08 07:55] raminious opened #250 "stream binary from stdout to form data"
Is it possible to stream and post stdout to formData ?
This code seems to be work but not

[code]

I wrote another test:

[code]

It throws this error:

[code]

[2016-09-08 09:57] raminious commented on #250
I just do this with:

[code]

Is it possible to implement above with node ?

PS:
I know there is fs.createReadStream
But in real project I receive image from an external app stream file on stdout

[2016-09-10 06:54] magicdawn commented on #147
how is this going on ?

[2016-09-12 16:32] obecny opened #252 "window is undefined"
I have an app build with electron and webpack, once the whole app is being packed when I try to start it I'm getting an error "window is undefined"
"The easy fix" is to simply remove browser param from package.json for "form-data" in node-modules.
Now the main question is that somehow related to form-data itself  or a webpack.
I'm using the electron-react-boilerplate from here:
https://github.com/

[2016-09-12 17:47] alexindigo commented on #252
form-data is server side only, so it's not meant to go into the browser environment at all. There is browser specific file (with reference to native `FormData`) as workaround for browserify and webpack - quick&dirty solution. Although it's not the right solution. The right one would be to examine what and how you bundle and exclude the paths that leads to bundling form-data.

Are you bundling form

[2016-09-12 19:54] obecny commented on #252
It is dependancy of other dependancy. Once I want to "release" my electron app I need to basically create 2 js files with all needed dependancy. The mentioned electron boiler code example does that. I'm just guessing and might be wrong but when webpack is building the dependencies for all "requires" for some reason the react app (frontend) might request form-data as first then webpack saves form-d

[2016-09-17 06:13] alexindigo commented on #175
Should be fixed in 2.0.0 Thank you.

[2016-09-17 06:13] #175 closed

[2016-09-17 07:26] alexindigo commented on #252
I'm still trying to understand how bundler builds something and picks up code meant for the browser and winding up running it on the server.

Removing `browser` param would break it for other apps that are trying to build it for the browser and have packages like `superagent` that claims to work in the browser but has server-side only libraries in the dependency, so developers that use it have to

[2016-09-22 15:16] julien51 commented on #250
I think I have a very smilar issue, except that I'm getting a Buffer and trying to pass that "as a file". Did you find a solution?

[2016-09-22 22:56] worldjoe commented on #252
I can comment on this. I have the same problem. The problem is that webpack doesn't understand the electron-main target very well. In particular webpack will default to using the browser entry point unless  resolve:packageAlias is specified. The fix is to add this into obecny webpack file. OR to fix webpack to not default to browser when the target is electron or electron-main.

  resolve: {
    p

[2016-09-24 09:46] bitinn opened #262 "form-data 2.0 is breaking node-fetch integration"
see my original issue #196

form-data didn't provide an API for us to detect `form-data` body contains streamed data or not,  which we need to set headers properly. so we had to resort to checking `_lengthRetrievers.length`.

now with 2.0, this property is renamed and breaks our integration.

ref:
- https://github.com/bitinn/node-fetch/blob/master/index.js#L92-L103

[2016-09-24 17:07] alexindigo commented on #262
Hey, sorry I dropped the ball here.
I agree we should add some public API for this thing, somehow I got confused with original proposal as something specific to sync length resolution.

We could add some generic method, that'd be useful in your case as well, like

[code]

But in the same time, I'm curious, why it's trying to use synchronous length resolution, which doesn't cover all use cases, and

[2016-09-25 03:31] bitinn commented on #262
Yeah that would be a good solution, we only need to know if `form-data` object contains streamed sources or not.

Because when you use streamed data, the default is to set `transfer-encoding: chunked`, so you don't need a `content-length` header.

OK, but why not just send everything as `chunked`? Because older servers either don't like it or don't support it. Like WSGI used by Python community.

[2016-09-25 04:48] alexindigo commented on #262
"Actually" :) With my experiments, most of the servers didn't support chunked uploads (seems like that was mostly implemented in browsers for the response body). Only nodejs based servers handled chunked properly.

And in any rate, sometimes (in my tests most of the time) you'd send streamed data (likes files) to servers that don't support chunked requests. So why not to make async and get the siz

[2016-09-25 04:56] bitinn commented on #262
Browsers will be using chunked encoding in stream mode as well, it's really not a simple choice like that.

And if you are not streaming data (say the remote server doesn't support it), then the problem lays on developers to buffer their content, not for `node-fetch` to do this work silently.

[2016-09-25 05:00] alexindigo commented on #262
In most cases you can get size of the stream without much buffering, like files and another http response – you usually can get size of the content before hand. And that `getLength` will do it for you, so there is no extra stuff node-fetch needs to implement. Just change it's API to make it async, which is usually good idea when dealing with I/O. :)

But for sure, I'll implement that other method,

[2016-09-25 05:02] bitinn commented on #262
But on the other hand, aren't there scenarios where you just can't know content length?

Thx!

[2016-09-25 05:04] bitinn commented on #262
I mean I don't have a good example at hand, those I heard from a few issues on node-fetch and this comment on Fetch Spec: https://github.com/whatwg/fetch/blob/6f223de29733e64dbe1dfc6028c6e0a4a5d89398/Overview.html#L3165

[2016-09-25 05:05] alexindigo commented on #262
There are always scenarios when something wouldn't work, like they'd give you wrong content-length :) But we're trying to stay positive aren't we? :) And despite/inspite that – Async #AllTheThings! is just a good approach no matter what :)

[2016-09-25 05:12] bitinn commented on #262
Hey I agree! And `chunked` is async too, just that not many servers out there supports it. To me the better choice would be to not calculate content-length for streams unless it's necessary.

[2016-09-25 05:14] alexindigo commented on #262
👍

[2016-09-25 05:26] bitinn commented on #262
Cheers!

(I am sure you know this: setting `content-length` will disable `transfer-encoding: chunked`. If we start to calculate and set `content-length` by default, I bet some Node.js devs will come to me one day >_<)

Anyway enjoy your weekend :)

[2016-09-25 05:37] alexindigo commented on #262
Yes, I spent some time around chunked encoding. :)
What I meant by async all the things, is make your API that interacts with I/O async by default, it will allow you for greater flexibility. In your case you'd have choice calculate or not length of the streams, as of now you simply don't have that choice. :)

Here is PR with new method: https://github.com/form-data/form-data/pull/263

[2016-09-25 22:15] alexindigo commented on #196
Fixed in v2.1.0

[2016-09-25 22:15] #196 closed

[2016-09-25 22:15] alexindigo commented on #262
Fixed in v2.1.0

[2016-09-25 22:15] #262 closed

[2016-09-28 17:35] MattCowski commented on #250
I was getting the same error. Instead of .append() define an object:
[code]
it's important to have the `value` specified

[2016-10-03 18:07] rafis opened #268 "Doesn't work with multer"
`multer` is most popular library to handler `multipart/form-data` requests, but this library seems doesn't works with `multer`, does it?

[2016-10-03 18:13] #268 closed

[2016-10-05 21:27] GeoffreyPlitt commented on #220
@cvignac Exact same error, here's my code, how do I fix this?

formdata.append('file', {uri: `file://${uri}`, type: 'video/mp4', name: 'upload.mp4'})

[2016-10-05 21:34] cvignac commented on #220
I am not sure at it will help you, but here is what worked for me :
`let options = {
        method: 'POST',
        url: myurl,
        headers: { 'header1': myheader},
        formData: {
          file: {
            value: fs.createReadStream(path),
            options: { fileName: req.fileName}
          } }};
      request(options,callback)`

The tricky part is that I had to put fileName as

[2016-10-05 21:38] GeoffreyPlitt commented on #220
Thanks, not sure if that's right for React-Native though.

Here's my (non-test) code, using RN's native FormData, where we don't use your polyfill:
[code]

That's how it works in RN. So when we do our testing, I was thinking that simply assigning your polyfill to global namespace should work the same way. No?

[2016-10-06 12:30] Janiczek opened #271 "Usage of `self` instead of `window` broken on React Native"
Commit [2c0a54](https://github.com/form-data/form-data/commit/2c0a54532c22da345e85afd559a9c6a14ec8155b) introduced `self` instead of `window` but this breaks in React Native - `self is undefined`. Maybe a different `require` implementation or something...
`window` works (as of v2.1.0).

[2016-10-07 15:42] StevePotter commented on #271
Alex, basically in react native there is no self available during load; instead, it provides a global object.  Interestingly though, when you put react native into debug mode, it works.  But you still can't ship apps.  I patched it and submitted the PR.

[2016-10-18 09:32] gzvirginhair commented on #252
All round, Indian hair extensions
![image](https://cloud.githubusercontent.com/assets/22812116/19472157/b06e7766-9558-11e6-8cc3-83a8f6461426.png) would be the most tough and might previous up to a full calendar year based upon how very well you're taking treatment of them. Artificial hair wigs typically lasts up to 6 months if you consistently wear them. Human hair could be flat ironed and synthet

[2016-10-18 15:53] alexindigo commented on #252
Ouch, it's been 26 days already. Got carried away at work. I had changes for this one with more tests, will try to push it in tonight.

[2016-10-20 18:30] jimmywarting commented on #124
Just want to propose to you this polyfill https://github.com/jimmywarting/FormData/blob/master/FormData.js (it's built for the browser...) but you are free to copy as much code as you like from my polyfill if it's to any help

[2016-10-21 02:23] goodhyun commented on #220
We have a similar symptom :
https://github.com/bitinn/node-fetch/issues/192

[2016-10-21 21:11] TimothyGu commented on #252
@alexindigo, ping. Has there been any updates on this?

[2016-10-25 20:51] farantesrodrigues opened #276 "Support PUT requests"
Maybe I'm missing something, but in

`
    FormData.prototype.submit = function(params, cb) {
      var request,
             options,
             defaults = {method: 'post'};
`

defaults is not configurable, right ?

I have a use case where I need to use PUT requests. It's an integration with Tableau API that only accepts PUT requests... (more info [here](https://onlinehelp.tableau.com/current/a

[2016-10-26 13:59] farantesrodrigues commented on #119
Hi guys, I bumped into this discussion while debugging an integration with Tableau REST API. I also was expecting to see a text body request instead of a stream. I fear this is what might be causing my request not to be accepted in the API (all rest seems to be formatted fine). Is there anyway we can avoid using stream/buffers to chunk the data being passed in the request ?

[2016-11-05 02:26] captainfalcon commented on #146
I ran into this issue as well. I needed the boundary to be absent. I made this work by modifying the prototype of the FormData class on the fly to remove it. After creating a request object with something like:
var requ = request('url', callback);

I remove the boundary and establish my own data by overriding these functions.
Note that upon each new request() call, you must change these prototype

[2016-11-06 17:41] stoffern opened #281 "Collaborators"
Hi,

It looks like this repo is getting behind on PRs and Issues.
If you add me as a collaborator i will be happy to help out.

[2016-11-08 03:23] alexindigo commented on #281
Thank you for your interest. If you want to participate you can start with addressing open issues, no need to have extra status for that. Thank you.

[2016-11-08 03:23] #281 closed

[2016-11-08 03:24] alexindigo commented on #271
Fixed in #282, will publish 2.1.2 after tests pass. Thank you.

[2016-11-08 03:24] #271 closed

[2016-11-08 03:27] alexindigo commented on #252
@TimothyGu seems like this solution fixes it https://github.com/form-data/form-data/issues/252#issuecomment-249051882
And I added (#282) check for `self` and for `window` objects – it should cover most of the use cases, will publish 2.1.2 tonight.

[2016-11-08 03:27] #252 closed

[2016-11-12 15:56] jimmywarting opened #286 "drop support for node < 4"
Start using ES6 classes!

[2016-11-12 16:07] jimmywarting commented on #276
https://github.com/form-data/form-data/issues/124#issuecomment-124996556

[2016-11-13 04:02] alexindigo commented on #276
@farantesrodrigues you should be able to pass `method` property to the submit call.

[code]

Let me know if you have any issues with that.

Thank you.

[2016-11-13 04:02] #276 closed

[2016-11-13 04:04] alexindigo commented on #286
Thank you for your interest. But there are projects out there that rely on form-data and still using older versions of node. So I don't see the point to intentionally break other people's code.

[2016-11-13 04:04] #286 closed

[2016-11-18 04:40] fzjameza opened #290 "A tabular format is not the same. When pressing the button add information"
A tabular format is not the same. When pressing the button add information.

`<script type="text/javascript" src="js/jquery.js"></script>`
`</head>`
`<body>`
`<table width="100%"  border="1" align="center" >`
 `  <tr>`
  `  <td align="left" valign="top">`
  `  <form method="post" action="">`
  `  <div id="form">`
 `   <table width="100%" border="1" cellspacing="0" cellpadding="0">`
     ` <tr>`

[2016-11-18 05:59] alexindigo commented on #290
Hi,

Looks like few things got confused here.

`formData.append` is used to add _data_ to the form instance, which later could be sent to the server, not html tags.

And in your example it's jQuery and seems like browser environment. This library is a server side implementation of the in-browser FormData API.

I think you're looking for something like this: http://api.jquery.com/append/

[2016-11-18 05:59] #290 closed

[2016-11-25 18:26] mlarcher opened #294 "Handling checksum in streamed data"
I'm using form-data through the *request* package. The file content is passed as a stream to the formData object, and I am calculating the checksum on the fly in order to send it right after the data. To do that, I have passed formData a stream in which I push the checksum when the file has been completely processed. This works quite as expected, except that the checksum ends up in a "part" that a

[2016-11-28 16:08] alex-phillips opened #296 "Upload file from transport stream"
Is it possible to upload a file using this package but pipe it through a transport stream first? I'm gotten the basic functionality of `form.append('content', fs.createReadStream('myfile.txt'))`, but would I would really like to do is pipe the file's read stream through a Crypto cipher before uploading without having to write the encrypted file to disk first and then using the read stream from the

[2016-11-28 16:40] alexindigo commented on #296
You can pass any stream to the `form.append`, it doesn't have to be a file on disk, so if you have stream of encrypted data it would do as well.

For example as per this example, you can pass output of the `request` library, which is a stream too.

[code]

I didn't work much with crypto streams myself, but it could look something like this:

[code]

PS. You might need to manually provide chunk siz

[2016-11-29 15:27] mlarcher commented on #294
After digging deeper, it appeared that the content-type was not the issue. The multipart bound was unfinished when a stream was set for the checksum. As we can't know the checksu length beforehand, I solved the problem by adding `headers:  { 'transfer-encoding': 'chunked' },` in the request options, and now everything works as expected :)

[2016-11-29 15:27] #294 closed

[2016-12-01 15:59] mbrevda commented on #234
Not sure if this is related (or if I should open a new issue):
using bitinn/node-fetch:

[code]

Doesn't seem to work on larger files. Is my code correct? It would seem the server doesn't have an issue uploading larger files when using other methods.

[2016-12-21 13:26] taemon1337 commented on #220
io.on('connection', function(socket) {
  ss(socket).on('create', function(stream, data) {
    var req = request.post(url);
    var form = req.form();
    form.append('message', data.message);

    // doesn't work
    form.append('file', stream);

    // doesn't work
    form.append('file', { value: stream, options: { filename: data.filename }});

    // doesn't work
    var sss = ss.createStream()

[2016-12-23 09:14] xiaomingplus opened #306 "headers params should be Content-Type ,not content-type."
FormData.prototype.getHeaders = function(userHeaders) {
  var header;
  var formHeaders = {
    'Content-Type': 'multipart/form-data; boundary=' + this.getBoundary()
  };

  for (header in userHeaders) {
    if (userHeaders.hasOwnProperty(header)) {
      formHeaders[header.toLowerCase()] = userHeaders[header];
    }
  }

  return formHeaders;
};

please fix..

[2016-12-23 09:49] alexindigo commented on #306
Please see this issue: https://github.com/form-data/form-data/issues/155
Thank you.

[2016-12-27 06:26] alexindigo commented on #306
I'll close the issue. Please feel free to comment if you have more questions. Thank you.

[2016-12-27 06:26] #306 closed

[2017-01-08 22:39] jeffreznik commented on #108
Is this going to make its way into the main codebase eventually?  Having `Transfer-Encoding: chunked` support would be huge.  PR #103 had it working but seems to not have been merged in.

[2017-01-27 12:40] stoegerit opened #319 "How can I append multiple files to the same variable?"
I need to feed attach[] form variable for this API https://support.deskpro.com/api/api.html#!/tickets/newTicketAction_post_4.

`        for (var attachment=0; attachment<attachments.length; attachment++) {
          form.append("attach",new Buffer(attachments[attachment],'base64'), {contentType: 'image/png', filename: 'image' + attachment.toString() + '.png'});
        }`

But then only the last i

[2017-02-01 16:30] stoegerit commented on #319
Its actually working as it should, the API side is not processing multiple attachments.

[2017-02-01 16:30] #319 closed

[2017-02-03 10:11] andrew-w-ross commented on #268
@rafis Why did you close this ticket? I can't seem to get this to work the multer either.

[2017-02-04 20:37] nhooey opened #321 "Warn if `formData` hash values are not strings, to prevent `source.on is not a function`"
In request/request#1495, the example code gets an error like `source.on is not a function` because one of the values in the `formData` has for a `request` or `request-promise` options hash is not a string.

The `form-data` module should detect this error and tell the user to ensure all `formdata` hash values are strings, or `writeStreams`, or whatever else is valid.

[2017-02-10 03:40] ballPointPenguin commented on #271
I believe the use of `window` is causing my build to break when using Electron (with react) on MacOS.

[2017-02-10 03:47] alexindigo commented on #271
Looks like different environments expect different global objects. And `FormData` isn't meant for any of them. :)

@ballPointPenguin I'm just curious, how did you end up requiring `form-data` in Electron app? :)

[2017-02-10 19:04] ballPointPenguin commented on #271
I'm using the `request` module to post form data to an authentication endpoint.

[2017-02-10 19:08] alexindigo commented on #271
Thanks for the reply @ballPointPenguin.
`request` is a server side module (same as `form-data`),
so if you're using it within node part of the app, it should work normally.

And it won't work from the browser part of the app.
In the browser part you could use built-in `fetch` method to communication with the servers.

Does it make sense to you? Or did I miss something?

Thanks.

[2017-02-12 05:36] ballPointPenguin commented on #271
That's quite sensible. Thank you.

[2017-02-17 09:55] zhuangya commented on #146
i think the problem is`form-data` still using `combined-stream` and `combined-stream` does not support stream v2 at all.

https://www.npmjs.com/package/combined-stream

[2017-02-17 17:40] alexindigo commented on #146
@zhuangya Do you mind to elaborate how version of streams is affecting this issue? Thank you.

[2017-02-27 15:15] ballPointPenguin commented on #271
In electron, one might do things that are both server-like and client-like.
One thing I'd like to do is use `request` and `form-data` from the server-ish side of things.
Simply including `form-data` in my package.json causes the electron build to fail.

[2017-02-27 23:26] ballPointPenguin commented on #271
FWIW this works for me:
https://github.com/codex-digital/form-data/blob/master/lib/browser.js
but feels rather tacky

[2017-03-02 10:26] ChALkeR opened #330 "doc: Consider removing dangerous Buffer usage from the Readme"
I'm talking about the examples on https://github.com/form-data/form-data#usage.

Sending `new Buffer(10)` to a remote host is unsafe, it basically sends a chunk of process memory, which potentially cointains db passwords, encryption keys, source file chunks, etc.

While not a vulnerability in `form-data`, having that code as the first example of how to use this library is probably not a very good

[2017-03-02 11:21] ChALkeR commented on #330
I'm not exactly sure, but this could be caused by the examples here:
 * `httpsync-0.0.8.tgz/example/upload_file.js:25:form.append('my_buffer', new Buffer(10));`
 * https://github.com/Montage-Inc/javascript-montage/blob/master/tests/client_test.js#L337

[2017-03-02 17:49] alexindigo commented on #330
Thank you for your concern. Looks like it's either another example or a test that send data to itself.
And that example, is just to show in the simple terms how FormData works with Buffers. No "production" code would use it, since it doesn't make sense in the real world and provides no value.
But if you think there is a simple way to illustrate how it works with Buffers without it being a security

[2017-03-02 19:53] seishun commented on #330
`Buffer.alloc(10)`

[2017-03-22 15:44] motet-a commented on #330
In addition to be unsafe, [it is deprecated](https://nodejs.org/api/buffer.html#buffer_new_buffer_size).

[2017-03-23 22:18] chrisabrams opened #336 "TypeError: Cannot read property 'name' of undefined"
What in the world am I doing wrong to cause this to be undefined? https://github.com/form-data/form-data/blob/03444d21961a7a44cdc2eae11ee3630f6969023d/lib/form_data.js#L217

I'm assuming it is referring to `value`

[2017-03-24 12:56] tqm-kmd opened #338 "using form-data with axios and promises"
I have tried using form-data together with axios, in a jasmine test that we are building up, running on nodejs. But can't seem to get a grasp on it

Is there anyone that knows if this is possible?

I would like to use axios, as it is promise based, which standard nodejs http client isn't (afaik)

[2017-04-02 12:09] fabianTMC opened #341 "Why is Content-Length a required header?"
I was having an issue where I was handing the FileStream from a http request directly into a form field. The problem was that since I did not know the Content-Length to begin with, the library was automatically using the sum of (overheadLength + lastBoundary length) as the Content-Length which caused the request to fail because the file had not finished streaming.

This issue disappeared after I h

[2017-04-02 16:36] alexindigo commented on #341
Hi,

It's the way HTTP works. Receiving servers need to known length of the content they about to receive, in my cases they have special rules about that, like allowing only content below certain threshold.
There is a possibility of specifying "dynamic" content length, using "transfer-encoding: chunked", but not many servers support it for POST requests yet.

[2017-04-03 07:54] fabianTMC commented on #341
Makes sense. I had seen some requests without Content-Length being specified but those were for GET requests so I was confused. Adding `headers: { 'transfer-encoding': 'chunked' }` resolved the issue for me. Thanks for your help.

[2017-04-03 07:54] #341 closed

[2017-04-05 19:05] ichiga88 opened #344 "file upload progression"
Hi
I try to get the progression of my file uploading in node Js ... I use the form-data library integrated on request library ...

Is there any way to get my progression ?

`var torrentStream = require('torrent-stream');
var express = require('express');
var http = require('http');
var request
var app = express();
var request = require('request');
var zipFolder = require('zip-folder');
var magnet

[2017-04-06 10:13] AmBeta opened #345 "data from `part` event causes socket hang up error"
The following code didn't work as expected when I tried to make file upload proxy on a node server:

[code]

The socket always got hung up when fetching from the remote server.
But things worked when I composed the `formData` from `field` and `file` events like this:

[code]

[2017-04-06 10:17] AmBeta commented on #345
Sorry, maybe  I should move this issue to the multiparty repo.

[2017-04-06 10:17] #345 closed

[2017-04-07 18:07] MarkHerhold commented on #336
I think you need to use `form` instead of `formData` as the object key. I ran into this using the `request-promise` module.

[2017-04-07 18:28] alexindigo commented on #336
@chrisabrams Do you have code snippet that triggers the error? And would be nice to see the error too. Thanks.

[2017-04-13 16:26] kmccmk9 opened #347 "HTTPS is not supported"
Hello,

I'm trying to use this module to send form data over HTTPS. Below you can see my code, which is similar to the test code and the error I'm receiving back.

# **Code:**

[code]

# **Error:**

[code]

[2017-04-14 00:24] kmccmk9 commented on #347
SOLUTION:

For anyone else struggling, the protocol is **https:** not https

[2017-04-18 02:17] #344 closed

[2017-04-26 13:07] pinxue opened #348 "Protocol field is missing after url parsing"
https://github.com/form-data/form-data/blob/master/lib/form_data.js#L388

should be:
options = populate({
      port: params.port,
      path: params.pathname,
      host: params.hostname,
      protocol: params.protocol
    }, defaults);

protocol is missed so far, which cause https url goes wrong.

[2017-05-01 16:22] Vikaton opened #350 "POSTing multipart formdata on existing http2 connection"
## Objective

![image](https://cloud.githubusercontent.com/assets/9522710/25593301/01841da2-2e8a-11e7-8001-9c0f65403b09.png)

How could I achieve sending this multipart form-data over an already existing connection I've made with the API using this library?

[2017-05-11 22:33] jordpo commented on #336
@alexindigo I'm also running into the issue. I am also using `request-promise` and I'm trying to send a local file.
[code]

I used a debugger and can confirm that the file is being ready properly using `fs.statSync(mapFilePath)`.

@MarkHerhold I still think you need to use `formData` - all of the other examples I see out there use it.

[2017-05-12 15:58] jordpo commented on #336
What I noticed is that the issue comes up if any of the properties that you are setting on the form data has a value of undefined. Guarding against that fixed the issue for me.

[2017-05-13 14:25] ronaldpabilonia commented on #336
Hello, I've ran into this issue as well and after seeing @jordpo 's answer, I checked to see if I was leaving any undefines. Turns out I'm only appending two keys and values and pretty sure it's not undefined. So I'm still wondering why I get this error. I'm sending an ID string and a file:

[code]

[2017-05-13 14:30] ronaldpabilonia opened #351 "name of undefined in formData._getContentDisposition"
I'm trying to post a file and an ID string to an external web api using `multipart/form-data` but this error keeps popping up. I am only setting two values which is the ID and the file so I'm not exactly sure what's wrong

[code]

Any help would be appreciated. Thanks!

[2017-05-13 14:42] ronaldpabilonia commented on #351
Welp. Fixed the issue. Instead of using FormData, I just put the information in an object, and the file was uploaded.

[code]

[2017-05-13 14:42] #351 closed

[2017-05-13 14:45] ronaldpabilonia commented on #336
Quick update, I was able to fix my issue by just directly creating an object instead of using the FormData module. I just followed @jordpo 's example and the file was uploaded.

[code]

[2017-05-13 15:02] jordpo commented on #336
@ronaldpabilonia awesome. Yeah from the examples I've played around with, when using the form-data module directly, it's best to call submit on it vs adding it as a value in your request.

[code]

I wonder if the request library is expecting an object vs a FormData instance and when it tries to instantiate another instance the key value pairs are undefined.

[2017-05-14 04:53] tmfksoft commented on #350
Hi, Did you find any work around for this? I too am trying to interact with the AVS API. I'm able to get connected, however I cant figure out how to get any data into the body.

[2017-05-14 23:57] Vikaton commented on #350
this helped: https://github.com/miguelmota/AVS-server/blob/master/server.js#L131 @tmfksoft

[2017-05-15 00:33] tmfksoft commented on #350
Ah thats great, what are you using to handle HTTP2? I've tried the HTTP2 module off npm but I can't for the life of me figure out a way to sent the POST Body. Any method I try fails.

[2017-05-15 02:49] Vikaton commented on #350
I'm using `node-spdy` and I'm just using the `.write()` function after I gather all of the info I need to make a request, as in that code I showed

[2017-05-15 02:49] #350 closed

[2017-05-15 11:37] xingyuzhe commented on #348
I found this issue too. This is a serious error since long long ago.

[2017-05-17 10:57] CrackAttack opened #353 "form.submit() to localhost server with all network adapters disabled will hang, when regular AJAX is fine"
We have an app that uses a node-webkit client and tomcat server, which can be located on the same machine. We've been tracing a bug where sometimes the form.submit() just hangs forever, and finally realized that it happens if (e.g.) a laptop is set to Airplane Mode, or otherwise all network adapters are disabled (including any VMWare virtual adapters, etc).

Our app doesn't care about network adap

[2017-05-30 19:41] fonkap commented on #146
I was trying somthing similar and found the following solution:

You create a request with `r = request.post`, then get the form with `form = r.form();` and (now the hacky part) you set `form._boundary` to the boundary you want to use.

Full example (webkit's funny boundary generation included):

[code]

[2017-06-08 04:51] captainfalcon commented on #146
I actually found a very easy working solution, specifically when used with node-request.

Just provide "form" as a key in the options to the request, and the value as a string:

request({
  url: "google.com"
  form: JSON.stringify(somePostDataObj),
  method: "POST",
  function(data) { });

This eliminates the problems of form-data overall. If you guys still want a patch specifically for this to wo

[2017-06-10 03:58] joedski opened #356 "Feature request: Option to pass file metadata on file stream itself"
Request doesn't currently have any logic to do `transfer-encoding: chunked`.  It currently tries to always send a `content-length` header, but `form-data` cannot just pull that number out of thin air without processing the whole stream.

Ordinarily, this would be solved by passing the `knownLength` file option, either to `form-data` directly or to `request`, however this is not possible when using

[2017-06-10 22:25] alexindigo commented on #347
Yeah, this is node thing, `http.request` expects it like that - https://nodejs.org/docs/latest-v4.x/api/http.html#http_http_request_options_callback
and `url.parse` returns it that way – https://nodejs.org/docs/latest-v4.x/api/url.html#url_url_parsing

[2017-06-10 22:25] #347 closed

[2017-06-10 22:28] alexindigo commented on #348
Looks like real issue. Do you mind to create a PR to fix it? Thank you.

[2017-06-10 22:31] alexindigo commented on #338
I'm not sure what is Axios, but yes, native node things as well as FormData – not promises based.
And in many cases they return Streams. If you need need Promises, you can try one of the callback promise wrappers out there, or create your own.

First hit there, seems like something you might use: https://www.npmjs.com/search?q=callback+promise

[2017-06-10 22:31] #338 closed

[2017-06-10 22:35] alexindigo commented on #353
I'm not sure how FormData behaves inside node-webkit and in airplane mode :)
I'd assume that ajax calls are coming from within the browser part of your app and FormData operates in the node part. So it might be the difference. Also FormData doesn't handle anything network, it operates on top of native nodejs methods. So it must be nodejs thing.
What you can try though, is to use npmjs.org/request

[2017-06-10 22:42] alexindigo commented on #356
Hey, thanks for the thought. Just to better understand the idea – you need to pass `transfer-encoding: chunked` as part of your http envelop, not on each multipart item. So I'm not sure how adding more stuff to a file stream would solve the issue. Also, I remember doing some experiments to make it send chunked encoding and it was much easier than you're describing here. Although I don't remember a

[2017-06-10 22:46] alexindigo commented on #321
Yeah, looks like legit issue. Do you mind to create a PR? Thank you

[2017-06-11 00:59] joedski commented on #356
I probably should have provided a concrete example of my issue!

My primary concern is not with passing data to `form-data` itself, since I could just pass `knownLength` directly and be done with it, nor with passing data to `request` since that lets you also specify the options to pass to `form-data` including `knownLength`.  Rather, it is with libraries that do not expose the object handed to `r

[2017-06-11 05:53] alexindigo commented on #356
Wow. :) Thanks for the detailed explanation. _I'm still dizzy from the shear amount of new information_ :)

Let me know to boil it down.

Passing stream works when they're passed directly (i.e. fs-stream, request, http-stream), but doesn't work when they're being transform by some intermediary, like `fs.createReadStream(somePath).pipe(new PassThrough())`. Correct?

And your solution is to stick ex

[2017-06-11 21:46] joedski commented on #356
Thanks for bearing with me here!

Passing a stream directly from an fs-stream, `request`, or an http-stream _does_ work because they have extra data attached to them which FormData picks up on automatically, but indeed doesn't work when you don't have that kind of stream.

Examples of those streams which do not work include:
- The `fs.createReadStream(somePath).pipe(new PassThrough())` example as

[2017-06-12 16:58] alexindigo commented on #356
Oh, I think I got it. So you just need more simple way to augment already pre-messed up streams.
I think it's should be pretty simple to add. But do you want it to be something this package specific, like `_formDataOptions`, or maybe better something more generic that could be used by other (similar libs), like `_streamUploadMeta` or something in that fashion?

[2017-06-12 20:42] joedski commented on #356
Exactly!

And, that's actually a very good question.  I suppose something like `_streamUploadMeta` or even `_fileMeta` might be better than `_formDataOptions`.  I suppose in that case, maybe it should look kinda like a [File](https://developer.mozilla.org/en-US/docs/Web/API/File) in the browser?  That is, `{ size, name, type }`?

I suppose another option along this vein is to just attach `size`, `

[2017-06-13 01:03] nhooey commented on #321
@alexindigo That was four months ago. I'm not using the library anymore...

[2017-06-13 01:11] alexindigo commented on #321
Ok. I'll close this issue then. :) Thanks.

[2017-06-13 01:26] nhooey commented on #321
Why would you close an issue without a solution?

[2017-06-13 01:40] alexindigo commented on #321
You said, you're no longer interested in this issue. So it was logical to close it.
Please let me know if/when you want to get back to it. Thank you.

[2017-06-13 03:39] nhooey commented on #321
I meant that I can't really make a pull request for it.

It's still an issue potentially to a lot of people, even if they don't complain about it. It's an instance where the code doesn't check its inputs, which is a defect.

[2017-06-13 03:42] nhooey commented on #321
I'd suggest leaving it open so we can track the defect.

[2017-06-13 05:22] alexindigo commented on #321
Ok.

[2017-06-13 06:52] nhooey commented on #321
Thanks @alexindigo!

[2017-06-20 22:14] senica commented on #336
Also happened to me with `NULL` values, not just `undefined`.

[2017-06-23 19:05] buddyp450 commented on #319
Could you please clarify? I'm needing this feature as well. Were you able to get it to work or are you saying that the form-data api does not support adding multiple files to a single variable? If not I believe it should seeing as how that's possible using multi-part form data.

[2017-06-23 19:28] buddyp450 opened #358 "Feature request: supplying multiple files through a single append"
Relates to: #319

I have a need to append multiple files to a single 'modules' property based on how I currently use [multer](https://github.com/expressjs/multer).

In app:
[code]

In separate utility:
[code]

If I'm just not using this properly please let me know. Thanks :)

[2017-06-25 20:20] buddyp450 commented on #358
The [actual spec](https://dvcs.w3.org/hg/xhr/raw-file/tip/Overview.html#interface-formdata) didn't really help me that much. Took me reading the [Mozilla Example for Form Data](https://developer.mozilla.org/en-US/docs/Web/API/FormData/append) for it to click that I could actually append to the same variable multiple times with no fancy hacks needed.

[code]

[2017-06-25 20:20] #358 closed

[2017-06-30 08:36] pandashuai opened #359 "TypeError: source.pause is not a function"

[2017-07-03 20:52] jhihn opened #360 "Compressing pipes not handled"
When returning a file from a compressing pipe:
[code]
The error occurs:
[code]
Additionally there seems to be no way to indicate the content-encoding is gzip?

[2017-07-05 17:06] SimonSchick commented on #336
`null` and `undefined` should probably be treated as empty strings.

[2017-07-11 07:20] luckylooke commented on #348
HTTPS is solved here: https://github.com/form-data/form-data/issues/347#issuecomment-294054239

[2017-07-15 01:40] DylanPiercey commented on #360
@jhihn does it work if you directly compress the entire form?

IE:

[code]

May not work for your use case though.

[2017-07-15 01:40] DylanPiercey commented on #359
@pandashuai can you post a stack trace?

[2017-07-15 01:43] DylanPiercey commented on #348
@pinxue see @luckylooke's answer I believe it should solve your problem.

Closing for now, let me know if the issue persists.

[2017-07-15 01:43] #348 closed

[2017-07-15 01:46] DylanPiercey commented on #336
Closing as duplicate of https://github.com/form-data/form-data/issues/137
I hope to tackle this soon.

[2017-07-15 01:46] #336 closed

[2017-07-15 01:47] DylanPiercey commented on #330
@motet-a I agree, we should probably remove this deprecated api. I plan on doing some cleanup on this lib when I get a bit of time but feel free to make a PR.

[2017-07-15 01:49] DylanPiercey commented on #147
Going to close this as a duplicate of https://github.com/form-data/form-data/issues/137.

Hope to tackle this soon.

[2017-07-15 01:49] #147 closed

[2017-07-15 01:51] DylanPiercey commented on #151
Closing this due to inactivity. I believe you were looking to do this in the browser in which case you should use [Native FormData](https://developer.mozilla.org/en/docs/Web/API/FormData).

[2017-07-15 01:51] #151 closed

[2017-07-15 02:01] DylanPiercey commented on #296
@alex-phillips closing this due to inactivity. Let me know if this needs more attention.
Also feel free to chat about it on the [gitter](https://gitter.im/form-data/form-data).

[2017-07-15 02:01] #296 closed

[2017-07-15 02:03] DylanPiercey commented on #321
I'll take a look at this when we do https://github.com/form-data/form-data/issues/137.

[2017-07-15 02:05] DylanPiercey commented on #353
@CrackAttack I think this issue is a bit out of scope. If you are using AJAX (IE in the browser) electron or not, you should be using the native FormData implementation, not this. This module is to be used for emulating a form data like api within node js.

Let me know if you disagree, or think I missed the point.

[2017-07-15 02:05] #353 closed

[2017-07-15 02:10] DylanPiercey commented on #234
@wuhaixing can you confirm this is still the case? This issue is quite old and I am wondering if perhaps you were using an older version of node-fetch? Closing the issue for now though.

@mbrevda I believe the issue you are having is unrelated. Would you mind making a PR or gist with a failing test case and we can look into the issue?

[2017-07-15 02:10] #234 closed

[2017-07-15 02:15] DylanPiercey commented on #356
@joedski let me start by saying that this issue has been a TLDR for me, but I did skim it.

I think the idea is a good one. I personally think attaching the properties directly to the stream is the best for a couple reasons.

1) It doesn't look disgusting.
2) It allows us to pass in objects that emulate the [file object](https://developer.mozilla.org/en/docs/Web/API/File).

If we were to go this r

[2017-07-15 03:02] DylanPiercey commented on #321
Closing as a duplicate of https://github.com/form-data/form-data/issues/137.
Work is being done in https://github.com/form-data/form-data/pull/362.

[2017-07-15 03:02] #321 closed

[2017-07-15 03:03] DylanPiercey commented on #321
Also, specifically for converting objects to use formdata syntax see [q-flat](https://github.com/DylanPiercey/q-flat).

[2017-07-15 11:59] CrackAttack commented on #353
Actually I am using it correctly in this instance - we need to use it within node.js (needing to bypass the regular FormData security with sending files without the user needing to specifically select/browse for the files). For us, we use both situations in our app. In one instance, the user will browse for a document and upload it to the (localhost) server using the native implementation, and it

[2017-07-15 20:24] joedski commented on #356
I had concerns about possible name collisions, but looking at a fresh instance of a PassThrough stream didn't show any preexisting props named `name`, `size`, or `type` so, at least from the standpoint of core streams/readable-stream, that shouldn't be a problem.  Isomorphism is certainly a good argument.  I myself prefer things be neatly namespaced (in as much as underscores are 'neat') but ultim

[2017-07-17 07:54] fomojola commented on #356
As an extra vote for this: just spent 2 hours trying to figure out https://github.com/request/request/issues/2499. Currently form-data is broken for anything other than the 3 supported stream types (fs readstreams, request streams and httpIncoming) when really all it needs to know is the file size. I ended up doing something similar to whats described here: adding fake httpVersion and content-leng

[2017-07-17 16:15] jhihn commented on #360
Sort-of. It does do what it is told, but I have to manually add in the content-encoding header, and the backend only sees the gzip data. I'll follow up with body-parser and see if I can get them to support it.

[2017-07-26 12:25] crylg opened #364 "how to get progresss?"
someModule.stream(function(err, stdout, stderr) {
  if (err) throw err;

  var form = new FormData();

  form.append('file', stdout, {
    filename: 'unicycle.jpg', // ... or:
    filepath: 'photos/toys/unicycle.jpg',
    contentType: 'image/jpeg',
    knownLength: 19806
  });

  form.submit('http://example.com/', function(err, res) {
    if (err) throw err;
    console.log('Done');
  });
});

[2017-08-02 15:33] ndugger commented on #220
I'm experiencing this issue as well. It was working fine a few months ago, but revisiting my code, I must have pulled in a newer version of this package, and now I get this error without having changed my usage code.

[2017-08-02 15:47] DylanPiercey commented on #220
@GeoffreyPlitt afaik this module has never accepted the uri option. If someone can post an isolated repro I can take a look 😄.

[2017-08-05 04:55] Ovyerus commented on #220
I'm getting the same issue, but I'm just appending a string.

[code]

[2017-08-10 00:27] arboreal84 opened #365 "Improve memory usage"
1. Use `EventEmitter.once` rather than `EventEmitter.on` for one-time events
https://github.com/form-data/form-data/blob/master/lib/form_data.js#L434

2. Prefer a closure rather than binding (e.g: define a `self` variable and use it, rather than `Function.bind`)
https://github.com/form-data/form-data/blob/master/lib/form_data.js#L280
https://github.com/form-data/form-data/blob/master/lib/form_data

[2017-08-10 04:51] alexindigo commented on #365
Hey,

Thanks for the suggestions.
Do you have any numbers to show the difference?

Thank you.

[2017-08-10 19:43] cbaron opened #366 "add port documentation"
Let the others know that if you want to use a non standard port, then you can in the `host` attribute in the `submit` method's object parameter

[2017-08-16 20:00] TooTallNate opened #367 "`getLengthSync()` returns incorrect value when `process.stdin` is appended as a part"
And then `node-fetch` uses the `getLengthSync()` function directly to implicitly set the `Content-Length` header which ends up being incorrect.

After digging into the code, it seems like the stream is never added to the `_valuesToMeasure` array and this `hasKnownLength()` returns a false positive because of this check: https://github.com/form-data/form-data/blob/9bfb102cc29e1730ea0398a5b719eeaae6

[2017-08-23 09:30] pskanawat commented on #166
Do we have proper fix for this issue?

[2017-08-23 15:26] alexindigo commented on #166
@maxcc0 Thanks for the fix. Do you mind to create a pull request to this repo? So we can see the nature of the change?

Also, based on the error log, it seems like the issue comes from https://github.com/felixge/node-delayed-stream package, which already set to `Infinity` here: https://github.com/felixge/node-combined-stream/blob/master/lib/combined_stream.js#L44

_PS. And beware of downloading ra

[2017-08-23 15:31] alexindigo commented on #166
I see, combined-stream has it's own maxDataSize – https://github.com/felixge/node-combined-stream/blob/master/lib/combined_stream.js#L10

So what you can try here:

[code]

And we'd look into ways of allowing custom options at creation time, similar to what combined-stream does. What do you think @DylanPiercey?

[2017-08-23 17:25] maxcc0 commented on #166
@alexindigo good idea for custom options. And I remember I just removed the maxsize condition from one of the files somewhere (it's working good in production for a year now 😃). I can check that tomorrow and share it here.

[2017-08-23 17:27] DylanPiercey commented on #166
@alexindigo what are your thoughts on doing something like:

[code]

I personally like this because it doesn't do anything in the browser.

[2017-08-23 17:28] alexindigo commented on #166
It's a singleton, so it will affect all instances in your node process, which might be beyond desirable. :)

[2017-08-23 17:29] alexindigo commented on #166
@maxcc0 It's a luxury when you can modify files in production :)

[2017-08-23 17:30] DylanPiercey commented on #166
@alexindigo yeah I suppose. What about just setting it on the instance? Or do you have something else in mind?

[2017-08-23 17:37] alexindigo commented on #166
Yep, there are couple ways of doing it on the instance.

Less obvious, supposedly works "out of the box":

[code]

"Classical" approach, doesn't work at the moment:

[code]

[2017-08-23 17:38] DylanPiercey commented on #166
Surprisingly

[code]

Works in the browser, so I'm not against it. Although it's probably worth checking that no browsers error out with this.

[2017-08-23 17:39] alexindigo commented on #166
It works-works? Or just being ignored? :)

[2017-08-23 17:40] DylanPiercey commented on #166
Just being ignored, but that's fine IMO. Another alternative though is just setting the maxDataSize to infinity and pushing that part of the api on the user to check manually?

[2017-08-23 17:47] alexindigo commented on #166
👍  Like overloading checkDataSize with custom implementation – I like the idea :)

[2017-08-23 17:48] DylanPiercey commented on #166
This way we aren't tied to combined-stream either.

[2017-08-26 11:22] gajus opened #369 "Document getHeaders"
It is part of the API, but not documented anywhere in the README.md.

[2017-08-26 14:45] alexindigo commented on #369
Hey, I'm not really sure I understand the question, do you mind to elaborate? Thanks.

[2017-08-26 17:39] gajus commented on #369
It is not a question. You have a method `getHeaders`, which is not part of the spec, but it is part of your public API. https://github.com/form-data/form-data/blob/7629e30d4175fa07965a59f70ba5022172f9494a/lib/form_data.js#L293

This method is not mentioned anywhere in the README.md/ not documented.

[2017-08-26 22:17] alexindigo commented on #369
I see. Thanks.

Yeah, we don't consider `getHeaders` being public API. The main idea of the module is to be Nodejs representation of the browser built-in FormData, so "public" API for us is something that browser's counterpart exposes to the public use.

We can couple "helper" methods like `pipe` and `submit` – just to "survive" in Nodejs world.

Do you think it'd be beneficial for the project to

[2017-08-26 22:45] DylanPiercey commented on #369
@alexindigo I'm not against exposing node specific api's personally. My only concern would be that there is the possibility of the browser eventually using a method such as `getHeaders`.

Ideally we would prefix the non-standard methods/properties. Something like `nodeGetHeaders`. Whats are your thoughts on that?

[2017-08-27 05:18] alexindigo commented on #369
I understand it might look "normal" for users of "isomorphic" part of the library. But for node only users it would look somewhat ridiculous. :) I think we'd be better off with minimal API surface for the core library and then have supersets for specific environments, node, isomorphic, browser (maybe browser version would need some extra love and extended API) :)

[2017-08-27 09:42] gajus commented on #369
Agreed.

I simply think that if it is present, it needs to be documented.

e.g. I was implementing a node.js HTTP client and I needed to document the use of form-data getHeaders. Normally, I'd simply link to the documentation of the library. But in this case it is not documented.

In terms of whether it should be part of the library in the first place, I say keep it simple. Majority of the form-da

[2017-08-27 15:03] DylanPiercey commented on #369
@gajus I like that approach as well. Although I'm curious now, in any environment will that code error if `getHeaders` is not exposed? I'm thinking rollup, webpack or native may complain since everything is statically evaluated.

[2017-08-27 15:58] gajus commented on #369
Whats the reason a browser side code would be importing `getHeaders` in the first place?

[2017-08-27 16:00] DylanPiercey commented on #369
@gajus fair enough.

[2017-08-27 16:09] alexindigo commented on #369
@gajus I'm curious what os your use case for `getHeaders`?
Right now it's used internally to generate headers for each field,
curious how it could be used outside of the library.

[2017-08-27 16:27] gajus commented on #369
I am maintaining a variation of https://github.com/bitinn/node-fetch. `getHeaders` is used to generate the headers then the payload is an instance of form-data constructor.

[2017-08-27 18:53] alexindigo commented on #369
When you pipe out of or submit FormData instance it contains that headers. Sounds like you're using separate pieces of FormData not the "product" itself. Unless I missed something.

[2017-08-27 19:10] gajus commented on #369
Are we talking about node-fetch?

[2017-08-27 20:28] alexindigo commented on #369
I'm talking about FormData (this lib), trying better understand how it's being used. So we have current use casesin mind when thinking/talking about API changes.

Maybe code example would help.

[2017-08-27 20:36] gajus commented on #369
Suppose I wanted to use `FormData` with `request` (ignoring that `request` has native integration with `FormData`). I'd do something like this:

[code]

Am I missing something?

[2017-08-27 22:08] alexindigo commented on #369
I see. Yes, it's me who confused myself :) getHeaders is used on submit, not on per field payload generation. :)
And I see the use case. Looks like it's worth acknowledging getHeaders as public method, since it's the only way to create your own submit method.

@DylanPiercey I think we definitely should split submit method out of the minimal core, although we can ship it with the same module, simil

[2017-09-21 15:44] craigbloodworth opened #370 "Submit to HTTPS SSL server"
Have I just totally missed any mention of this in the docs or is submitting to an SSL secured server not supported using the form.submit method?

If it is could somebody point me in the right direction?

[2017-09-21 15:49] alexindigo commented on #370
It works the same way as regular `http:`. In all the examples with `http://`, you can replace it with `https://` and it will work.

One of the examples illustrates how to use it with built in http module, you can do the same but with https module:

[code]

Also there is integration test that tests https communication:
https://github.com/form-data/form-data/blob/master/test/integration/test-submit-

[2017-09-21 15:56] craigbloodworth commented on #370
OK so what you're saying is this example:
[code]
Would just become...?
[code]
However how could I also customise the headers in this request?

I need to set a very specific content-type header as well as attach a custom auth header.

[2017-09-21 16:02] alexindigo commented on #370
For custom things there are different examples, like this one:
https://github.com/form-data/form-data#alternative-submission-methods

And you can merge your custom headers with the returned data from `form.getHeaders()`.

PS. `content-type` header though should stay the same, since it's multipart/form-data, this what FormData sends to the server.

[2017-09-22 11:36] #370 closed

[2017-09-22 11:36] craigbloodworth commented on #370
Thanks so much for your help!

Really appreciated

[2017-10-13 00:14] shcallaway opened #371 "Form-data throws "ReferenceError: window is not defined" in Webpack bundle"
Form-data does not appear to be compatible with Webpack. I am able to bundle everything using Webpack, but upon running my bundle I encounter a `ReferenceError: window is not defined` exception.

It is caused by importing this function:

[code]

I tracked this function to form-data:

[code]

Commenting out the `module.exports` line above causes the exception to no longer occur.

_I originally open

[2017-10-13 00:59] alexindigo commented on #371
Do you mind to elaborate a little bit more on what you're trying to achieve?

Neither `FormData` nor `Request` not meant to be used in the browser – they're nodejs only libraries.
So I'm not sure what benefits you're getting from running them through webpack.

Thank you.

[2017-10-13 23:30] shcallaway commented on #371
I am using Webpack with Babel to transpile my code from ES7 to ES6.

[2017-10-13 23:53] alexindigo commented on #371
I see. Seems like the best approach would be to tell Webpack to ignore `request` dependency – not to bundle it. Since it'd be in the node_modules anyway and it doesn't need to be transpiled anyway.

[2017-10-14 00:22] shcallaway commented on #371
I thought I was doing this, but turns out I was only excluding modules from the Babel loader, and not the entire bundle. Thanks! Sorry for the irrelevant issue. 😳

For others: The solution I ended up using is described [here](https://stackoverflow.com/a/35820388/6137628).

[2017-10-14 00:22] #371 closed

[2017-10-15 14:34] terrynie opened #372 "TypeError when send post request with multiparty/form-data"
![1508077967943](https://user-images.githubusercontent.com/5274043/31585700-c669eb5c-b1b5-11e7-9e58-edb6dc59b08f.jpg)

when i use form-data to send a post request, it has this problem.
how can i fix it?

thanks!

[2017-10-15 14:38] terrynie commented on #372
![1508078304927](https://user-images.githubusercontent.com/5274043/31585743-8a8dd64c-b1b6-11e7-927d-042ae0460bf8.jpg)

[2017-10-30 12:13] mifi commented on #92
Is there any npm module for transforming an object to PHP style array? recursively

[2017-10-30 12:31] mifi commented on #92
Found one: https://github.com/therealparmesh/object-to-formdata/

[2017-10-30 20:51] kornelski opened #373 "File not found error is not forwarded through to the piped stream"
[code]

results in an uncaught error. I would expect `FormData` to catch this error and forward it to the destination stream.

This affects superagent: https://github.com/visionmedia/superagent/issues/1305 ([code here](https://github.com/visionmedia/superagent/blob/b2708db533ef5bca394eaaff63f97e485e11f465/lib/node/index.js#L980))

[2017-10-30 20:53] pornel commented on #165
I think the errors should be (re)emitted on the stream. I've filed a related issue: #373

[2017-11-09 22:53] jimmywarting commented on #124
gosh nothing is happening in this front.

When can we expect to get all this?

 FormData.delete(String: field)
 FormData.entries()
 FormData.get(String: field)
 FormData.getAll()
 FormData.has()
 FormData.keys()
 FormData.set(String: field, String: value, Object: options)
 FormData.values()

[2017-11-15 18:52] createthis opened #374 "empty form case"
I use these two methods to multipart encode my form data in my hapijs controller tests:

[code]

If the form has data, this works fine. However, if the form is empty, this fails and I get the following error from HapiJS's `inject()` method:

[code]
Given that this is a controller test, I rigged up a little HTML page to test HapiJS's behavior from a real browser:

[code]

Using the network tab in C

[2017-12-18 14:10] zag2art commented on #360
@jhihn have you managed to get it working?

[2017-12-18 14:36] jhihn commented on #360
No, this seems to be a fundamental assumption of node, that the root request won't be compressed, so it's no possible to send it this way.

[2017-12-26 15:05] harryi3t opened #375 "RangeError: Maximum call stack size exceeded"
On large size form-data object, I get this `maximum stack size exceeded` exception.

[code]
This module uses the [combined-stream](https://www.npmjs.com/package/combined-stream) module to make itself streamable.

`combined-stream` is [using recursion](https://github.com/felixge/node-combined-stream/blob/master/lib/combined_stream.js#L68) to continuously write data which causes this exception

Note

[2018-01-15 21:07] thaneuk opened #376 "Missing argument"
https://github.com/form-data/form-data/blob/7629e30d4175fa07965a59f70ba5022172f9494a/lib/form_data.js#L28

Shouldn't this return call include the **options** argument as a parameter?

[2018-01-25 18:44] jabeerni opened #377 "Small issue with License and copied code from node-far"
I know this is a nit, but our legal department did a scan of our OSS usage, and found that there is a file in form-data that has basically copied and pasted content from node-far. I believe both code bases were created by Felixge, so I'm not sure it really matters, but I'm not an expert on licensing. I said I'd check to see if anything can (or should) be done to correct this, since technically, fo

[2018-01-25 19:39] alexindigo commented on #377
Hey,

First of all kudos to your legal department :) It's impressive find.

That said. Yes, test runner was copied from node-far and modified to support istanbul code coverage.
Which is within MIT license boundaries.

Do you mind to elaborate what issues you see in this approach?

Thank you.

[2018-01-26 17:26] jabeerni commented on #377
This may be a nevermind issue now. I went back-and-forth with our legal team, and it looks like this was just a warning and not something we have to take action on. I speak better javascript than legalese. There doesn't seem to be enough shared code there to justify a separate package, so please feel free to just close this and get back to doing great things. Sorry for causing any extra worry or w

[2018-01-26 18:14] alexindigo commented on #377
It was a quick hack to get test coverage into the project, but I didn’t feel like that glue and sticks solution is good enough to backport to the original repo.
If it would be a problem, I think we can wake up Felix and get it backported.

Thanks for going through with this.

Btw, do you know what tool they are using to scan all of github (internet)? :)

[2018-01-26 18:14] #377 closed

[2018-01-26 18:39] jabeerni commented on #377
Sorry, not sure what the tool is. I pass a list of all OSS components and versions I'm using to our OSS/Legal folks, and I think they farm it out to a 3rd party that runs the scans. It's both painful and cool at the same time, since I can still spend hours tracking a warning down for something I have no control over... but it does make OSS safer from patent trolls for everyone because devs are act

[2018-01-26 18:42] alexindigo commented on #377
Yeah, it's something we all miss in our day jobs, to have that extra step before including yet another library with unknown number of dependencies. :)

Cool. Thanks.

[2018-01-31 17:32] MCMicS opened #378 "FormData pipe not work with Electron net module"
Hi,
i use the net module from electron because it use advanced logics like proxy handling. (see https://electronjs.org/docs/api/net)

If i start a request and try to pipe formData like in sample no data is written to server.

Steps:
use electron quickstart and add form-data.

[code]
if you step into the pipe you see that 'internal/streams/legacy.js' is called und line 15 you see that dest.writable

[2018-02-16 09:48] AcckiyGerman opened #380 "getLengthSync throws exception, when file size is 0 bytes."
I didn't have enough time to understand the full reason of the issue, but if the file that I push is empty - I've got an exception in https://github.com/form-data/form-data/blob/017017813917aaeee928a50e6c7e5f3af5ab7c2f/lib/form_data.js#L330
`new Error('Cannot calculate proper length in synchronous way.')`
 and it is happens because
`// Some async length retrievers are present`
I am not sure if the

[2018-03-03 11:59] nicklatkovich commented on #220
I had a similar error when I created formData as follows:
[code]
I thought the whole thing was in the file. But the problem was that id was not a string, but an object that was the right string only when converting. Fixed just using the toString method.

[code]
Be considerate and check the typeof the fields sent.

[2018-03-14 17:20] pauldariye opened #381 "Corrupted file when buffer is converted to base64 string"
[code]

I'm using `node-fetch`:

[code]

Am I missing something?

[2018-03-14 20:28] alexindigo commented on #381
You can try to add files like this:
[code]

Or to pass some custom stream, you'd could to supplement it with following fields:

[code]

You can find more details here: https://github.com/form-data/form-data/blob/master/Readme.md

[2018-03-14 20:31] pauldariye commented on #381
Thanks @alexindigo, the first solution worked just fine for me.

[2018-03-14 20:31] #381 closed

[2018-03-28 19:03] don-tjandra opened #383 "Value in append(field, value, options) is set to null"
I am trying to associate a filename with a JSON object and post a multipart request. I don't know why I am getting this error. Options is set and value is just a JSON string. Reproducible test program is included here.

[code]

[2018-04-25 04:13] stringbeans opened #384 "form.submit with a Buffer doesn't seem to work"
I can't tell exactly where the error stems from, but here is what I'm doing...

[code]

at the endpoint that i'm submitting to, i am using multer to parse the multipart form.

What im noticing is that at my latter endpoint, multer isnt able to recognize any files being uploaded. However, if in my code above, instead of using the file.buffer from multer, I change multer to use LocalStorage and use

[2018-05-10 13:54] dileephell opened #385 "Need Some info."
[code]
How can i replace the file name with the node server folder so that i can dynamically upload the file from that.

I tried `input_file: fs.createReadStream(__dirname + '/uploads' + uploadedFileName)` but wont work.

[2018-05-10 15:25] alexindigo commented on #385
Not sure exactly what do you mean by "replace the filename with node server folder", but try to look here, how we deal with custom filenames – https://github.com/form-data/form-data/blob/master/test/integration/test-custom-filename.js

Thank you.

[2018-06-05 15:15] PaulCarpenterHutch opened #386 "combined-stream 1.0.6 compatibility issue"
I have recently had to install our codebase onto two new machines, but our service tests were failing to execute.  The issue was tracked down to form being piped into a request.  After some investigation we have traced it to the latest version of combined-stream 1.0.6.  I have managed to recreate this behaviour with the following example code

`"use strict";
var FormData = require("form-data");
va

[2018-06-05 17:05] nacmacfeegle opened #387 "Conditional setting of content-length header in submit()"
Hi,

I have a use-case where FormData is being used to perform a multipart post to a backend and a request to only use 'transfer-encoding: chunked' for uploads in the future.

I see that the content-length header is always getting added in the submit.js and I was wondering if this could be altered to something like:

[code]
I'm happy to attempt this myself if there's an appetite?

[2018-06-06 08:44] nacmacfeegle commented on #387
As I workaround (via RTFM) I'll use `pipe()`

[2018-06-08 14:09] tchiers opened #389 "Data is truncated when form-data is passed a GridFSBucket Stream"
I'm using form-data (via request) to POST files from a  Mongo GridFS store to another server.

When I pass the stream directly to form-data:
[code]
And observe what goes out on the wire, I see most, but not all, of the file go out in the POST request, truncating the file on the receiving server. Specifically, gridfs chunks the file in its underlying storage and its stream implementation emits 'dat

[2018-06-15 09:51] fanfanjiang commented on #384
It dosen't work in any case...

[2018-07-12 12:33] renjinlong opened #390 "TypeError: form.getHeaders is not a function"
说getHeaders不是一个方法不能这样调用

[2018-07-19 05:40] kimwandev opened #391 "FormData submit not a function"
I'm trying to upload a file using form-data and node fs module but it seems that it cannot create the instance of the correct form-data object.

I'm running the app using electron app

![image](https://user-images.githubusercontent.com/16009196/42976368-c2c9e542-8bf3-11e8-9eb1-c668bbc767db.png)

`import * as fData from 'form-data';`
`let form = new fData();`
`let dir = __dirname + '/example.zip'`

[2018-07-24 13:16] bodymindarts opened #392 "require("form-data") returns undefined in Safari"
When executing the following code:
[code]
I see the following error in the console output:
[code]
This code works fine in Firefox + Chrome.

[2018-07-24 13:29] bodymindarts commented on #392
it looks like the issue is that `self.FormData` returns undefined in a web worker in Safari.

[2018-07-24 17:49] daydream05 opened #393 "What's the difference between this and the built-in FormData?"

[2018-07-25 02:09] alexindigo commented on #393
This is _server-side_ implementation of the _browser_ built-in FormData.

[2018-07-26 17:16] igat64 opened #394 "Does form-data support fs-capacitor stream?"
I'm using [apollo-upload-server](https://github.com/jaydenseric/apollo-upload-server) for uploading files to the server. In my resolver function, I have a `stream`. What I want to do is bypass this stream as a file (multipart/form-data) to another server. I use promise-request do achieve that. Code look like below:
[code]
But I'm getting an error :
`RequestError: Error: socket hang up
    at new R

[2018-07-29 06:53] tomasdev commented on #108
@jeffreznik I don't think there's any open PR for this?

[2018-08-08 18:58] nachomena commented on #359
Hi,

I have the same problem with the `source.pause`.
When I do the `append` to the `FormData` for a **file** I get that error.
This is the stacktrace:

![image](https://user-images.githubusercontent.com/18443905/43858044-677522e4-9b23-11e8-8877-f7a7fb40d652.png)

[2018-08-16 09:01] jimmywarting commented on #391
in the browser it form-data is equivalent to `window.FormData` submit is a node-server api only

you should send it with xhr `xhr.send(form)` or with fetch `fetch(url, {method: 'post', body: form})`

[2018-08-16 16:53] alexindigo commented on #391
@kimwandev the code from your example is meant to be ran in nodejs, not in a browser.
And as @jimmywarting there are built in methods available in the browser.

Please feel free to continue conversation here.

[2018-08-16 16:53] #391 closed

[2018-08-17 07:19] theSuiGenerisAakash opened #395 "Bad request when trying to do form.submit"
To keep it short, [this](https://auth0.com/docs/api/management/v2#!/Jobs/post_users_imports) is the API that I need to hit with my file which is a json..

Here's my code for doing that:
[code]

I am getting a *400 Bad Request* with no other information .. what do I do.. is there something wrong in putting the file stream (I did as was told by the form-data docs).
Also, the fields `upsert` and `sen

[2018-08-29 16:57] ThisIsMissEm opened #396 "Object.prototype.toString.call(form) returns "[object Object]" instead of "[object FormData]""
This appears to be due to a change in the algorithm used for determining the toString of an Object. See step 16 of [19.1.3.6 Object.prototype.toString ( )](https://www.ecma-international.org/ecma-262/6.0/#sec-object.prototype.tostring)

[code]

In version 2.3.2 of FormData, the second assertion will fail as `Object.prototype.toString.call(form)` returns `[object Object]`

The fix for this is to ad

[2018-09-03 07:20] danielgindi opened #398 "Drop support for node 4 and move to ES6"
As node 4 is no longer maintained, it should be dropped (from CI too).

And then the code could be refactored (Webstorm does that automatically) to be a structured class, and native support for Promises could be easily added.

[2018-09-04 21:45] dustinfarris commented on #383
It is because `request` does not handle form-data objects well.  [It is probably expecting a POJO.](https://github.com/request/request/blob/master/request.js#L329)  When it iterates over each key, it [somehow calls form-data's `_getContentDisposition` method](https://github.com/form-data/form-data/blob/master/lib/form_data.js#L177), which, among other things, [checks for a `name` property](https:/

[2018-09-06 10:55] revathskumar commented on #359
@nachomena I still face the same issue even by using `fs.createReadStream(file.path);`. Any pointers?

form-data: 2.3.2
node: 10.0.0

[2018-09-06 10:59] revathskumar commented on #359
similar issue #220 ?

[2018-09-06 11:40] revathskumar commented on #359
Apologies, My issue is caused not because of `fs.createReadStream(file.path);` instead I tired to set value other than `string`, `buffer` or `stream` in one the field in the form.

[2018-09-09 22:11] SkyBeastMC opened #399 "FormData.hasKnownLength always returns true"
FormData.hasKnownLength() returns true whether my form data has a known length or not (ie. inserting a stream)
This break node-fetch, because they use the known length to send Content-Length header.

[2018-09-10 05:58] alexindigo commented on #399
Do you mind to elaborate on how it break node-fetch?
And when there is no known content-length, I'm not sure how it could set Content-Length header.

[2018-09-10 12:22] phihag opened #400 "Get body as Buffer or string"
How do I get the complete body that would be included in an HTTP request as a Buffer or string?

I want to generate a curl command-line with the contents of the sent request, and for that I'd like the whole body.

[2018-09-12 19:06] SkyBeastMC commented on #399
Try this:
[code]
FormData says the stream has a known length even tho it hasn't.
The upload doesn't work because a wrong Content-Length header is sent.

Then try uncommenting `form.hasKnownLength = () => false`; the Content-Length header is not sent and the upload works.

[2018-10-01 21:02] SkyBeastMC commented on #399
any update on that?

[2018-10-17 07:30] yordis opened #403 "Verify FormData API"
As today, these are the functions exposed under FormData

- [ ] `FormData.append()` Appends a new value onto an existing key inside a FormData object, or adds the key if it does not already exist.
- [ ] `FormData.delete()` Deletes a key/value pair from a FormData object.
- [ ] `FormData.entries()` Returns an iterator allowing to go through all key/value pairs contained in this object.
- [ ] `FormD

[2018-10-17 07:35] yordis opened #404 "Remove private functions from the prototype"
Based on FormData we shouldn't expose functions throw the prototype, for example, https://github.com/form-data/form-data/blob/b16916a568a0d06f3f8a16c31f9a8b89b7844094/lib/form_data.js#L81

We should probably use closures to keep the current `this` scope or change the scope of the function when you execute it.

This will keep the FormData prototype cleaner and avoid future issues when people should

[2018-10-17 07:41] yordis commented on #399
I believe that `form-data` package shouldn't expose that function since it doesn't exist on FormData spec.

[2018-10-17 08:10] jimmywarting commented on #404
I think you should do something like this

[code]

[2018-10-17 08:17] jimmywarting commented on #400
if you are using `node-fetch` this might work
[code]

Otherwise get the formdata as a stream and concat all chunks

[2018-10-17 08:28] jimmywarting commented on #404
SGTM also

[2018-10-17 08:39] jimmywarting commented on #403
Pretty much the same as https://github.com/form-data/form-data/issues/124

[2018-10-17 09:19] yordis opened #405 "Test fails because of SSL certs"
I keep getting this issue

[code]

It seems that the SLL certs needs to be update it.

[2018-10-17 09:35] yordis opened #406 "Fix append"
The 3rd param is always an string with the name of the file.

[code]

Spec

[code]

[2018-10-17 09:46] yordis opened #407 "Fix append when passing an array"
Currently, on the Web spec, you could do this

[code]

Right now we throw an error when we pass an array. It seems that they are joining the list with a comma.

[2018-10-19 16:16] Ncifra opened #409 "Decipher / Cipher Stream with request() to API with form-data produces an error"
Hello,

We have two API's in Node.js. The first one acts as the main hub, while the other one is used to send emails.

Currently I have some files that are encrypted and stored in the file system of the first API. The files get decrypted with the following function:

[code]

To send the files we use:

[code]

Due to this we receive:

on the mail API

This seems to be related to the missing knownLe

[2018-10-22 15:39] Ncifra commented on #296
I am having the exact same problem as this, using the crypto library to decipher a file and then send it.

Here is the main issue: https://github.com/form-data/form-data/issues/409

Thank you

[2018-10-23 11:07] Ncifra commented on #409
So the solution to this was thanks to: https://github.com/form-data/form-data/issues/356#issue-234978025

It seems indeed related to the missing known length of the stream + seemingly some other metadata fields that are missing. On the file decryption function, I added the counting of the stream length for each chunk:

[code]

Then, on the file that is sending the request we add the following

[co

[2018-10-24 15:30] SkyBeastMC commented on #399
This function is needed for `node-fetch` to work.
`node-fetch` need to know the content length in order to send the `Content-Length` header when the length is available.

[2018-10-24 20:43] yordis commented on #399
@SkyBeastMC I don't know the details to be honest, but even when that is the case, it is leaking abstractions.

It is fine if `node-fetch` ask for all the entries and figure out `Content-Length` based on the form values or something like that.

But if you have to expose a function for that,

1. Leak abstraction
2. It is not following the spec

So probably things need to be clean up.

Just a feedba

[2018-10-26 11:41] mmajcica opened #410 "Using form-data with typed-rest-client"
Dear,

I'm planning to upload a file base on multipart/form-data specs. I found your library and I'm curious how to use it in my typescript application. I'm using typed-rest-client for all of my http calls.
I suppose I could leverage the uploadStream method from the rest client in order to integrate with form-data.

[code]

Is there an example on how to achieve something like this?

Thanks

[2018-10-26 13:53] mmajcica commented on #410
To make the question simpler, is there a way to get a NodeJS.ReadableStream from the form-data object?

Thanks

[2018-10-26 14:01] alexindigo commented on #410
FormData instance is a Readable stream.
https://github.com/form-data/form-data/blob/master/lib/form_data.js#L16

As for the example, do you mind to simplify it for those without TS tooth? Kinda hard to read. :)

[2018-10-26 14:32] mmajcica commented on #410
Indeed it is. I have tried to call the above method in the following way:

[code]

But it was failing. It turns out that the formData is a stream and that is all good. The problem was in the header.

In the typed-rest-client library the following is done over the headers:

` headers["Content-Type"] = headers["Content-Type"] || 'application/json; charset=utf-8';`

and form-data brings back content-

[2018-10-26 16:00] alexindigo commented on #410
Looks like you're trying to use it as a Promise, not as a Stream.
FormData is Readable Stream, not a Promise.
This is example from one of the tests:
https://github.com/form-data/form-data/blob/master/test/integration/test-pipe.js#L64-L71

PS. If you keep TypeScript out of your examples, they'd be easier to understand, and more help you'd be able to get from the community.

[2018-10-27 09:14] mmajcica commented on #410
I'm sorry about TS, I'll try further on to stick to plain JS.
FormData is a Readable Stream and it all works as written above. My uploadStream function returns a Promise and as such can be "awaited". The third param of my function expects a Readable Stream and if I pass in the instance of FormData object, it all works perfectly.

The only issue that I have found is in the low case content-type hea

[2018-10-27 09:14] #410 closed

[2018-10-30 12:09] aajiwani opened #411 "unable to call form-data getBoundary method in React Native"
I was trying to upload file using ```form-data``` and ```axios``` library. It is working flawlessly on a node application. As soon as I switch to react native, it comes with a red screen stating that ```getBoundary``` method doesn't exist in form data object.

Can someone please help me with that?

[2018-10-30 13:48] alexindigo commented on #411
React-Native doesn't have nodejs, so it uses browser environment to run javascript, meaning FormData available there is the one from Web API – https://developer.mozilla.org/en-US/docs/Web/API/FormData

What you can try to do is to use isomorphic version:
https://github.com/form-data/isomorphic-form-data

/cc @DylanPiercey

[2018-10-30 21:44] coldfire92 commented on #400
Try this, mock write stream and save buffer to string.

[code]

[2018-10-31 03:51] aajiwani commented on #411
hey @alexindigo @DylanPiercey Thank you so much for your input guys.

@DylanPiercey I actually was calling getBoundary myself for a file upload multipart fomdata, but apparently that is not what I should be doing. For some reason if I use the react-native's version of FormData, I feel that it behave's a bit differently from what form-data package is doing. Although they state that it is following

[2018-10-31 03:52] aajiwani commented on #411
I am referring to this code

https://github.com/facebook/react-native/blob/1151c096dab17e5d9a6ac05b61aacecd4305f3db/Libraries/Network/FormData.js

[2018-11-12 09:09] codenirvana opened #412 "Allow Setting Empty File Name"
I am using [request](https://github.com/request/request) for multipart form upload.
If file source(ReadStream) is not set, I want to still send the file-part with `filename=""`. like:

[code]

But due to [truthy check](https://github.com/form-data/form-data/blob/master/lib/form_data.js#L226) on `filename` its not possible.

Is there any way to send empty `filename`?

[2018-11-13 05:59] codenirvana commented on #412
@alexindigo Thanks for the reply.
`options.header` won't overwrite the `Content-Disposition` header value.
Since, [populate](https://github.com/form-data/form-data/blob/master/lib/populate.js#L6) will always pick the destination value, not the source(custom).

[2018-11-13 06:13] alexindigo commented on #412
True. Sorry for the confusion.
Unfortunately I don't see an easy way to change the behavior without introducing breaking changes.

For your specific use case though, I'd recommend to augment `FormData.prototype. _getContentDisposition` method.

Something like:

[code]

[2018-11-13 06:32] codenirvana commented on #412
@alexindigo Yes, that's one way.
Would be great if you consider adding support of this.

[2018-11-13 06:36] alexindigo commented on #412
Trying to think of a way to do it without creating breaking change. So if you have ideas – please tell :)

[2018-11-13 12:18] Ockejanssen commented on #392
May be it is a problem with the browser field in the package.json?
Loaded in browser FormData is the browsers implementation.

[2018-11-13 12:25] fabiante opened #413 "Request body too slow"
Hi,

I am using this package to send files (PDFs, etc.) to my .NET backend service. I can't get it to work. After a couple of seconds after I send my request, my backend sends this Exception:

[code]

After receiving that error I changed the `MinRequestBodyDataRate` option in the backend so that request can't time out. This leads to my request never finishing.

Has anyone using `form-data` ever ha

[2018-11-14 07:00] Ockejanssen commented on #392
Just had the problem with the request module (browserifyed version) ;-) They use methods which doessn't exist in the browser. But that another issue :-)

[2018-11-21 03:30] devMYC commented on #384
try this
[code]

[2018-11-27 13:44] filips123 opened #414 "Get form-data as string for HTTP request"
Is it possible to get raw string for HTTP request for HTTP request so I could manually post it to URL with different library?

Something like `formData.get()` which will return
[code]

[2018-11-27 14:24] filips123 commented on #414
I found some quick and temporary solution:

[code]

[2018-12-17 16:39] AxelTerizaki opened #415 ".append file in README is wrong"
Currently if you use the code from the README to append a readable stream, it fails with it being unable to read property name of null.

[code]

The `options` argument is actually mandatory and needs to be either a string or an object with a `filename` property, or a `name` or `path` property for the readable stream. The code is a little confusing, and can be found line 217 of `form_data.js`

Upda

[2018-12-18 13:07] alextes opened #416 "Improve error message when appending undefined values"
Just solved an [issue](https://github.com/sindresorhus/got/issues/674) for a user that was confused by `form-data`'s error message. In the following case:
[code]
The error thrown is:
[code]
Here's a runnable example: https://runkit.com/alextes/5c18edf05f59d60011a399d5

Would it be a good idea to improve the error message here in case someone is passing something that isn't an object with a `filena

[2018-12-18 13:17] AxelTerizaki commented on #415
Apparently, my error was elsewhere (see #416) so I'm not too sure if this is still needed. In which case debugging this took me a while, so now that it works I don't really wish to experiment further with it.

[2018-12-18 13:17] #415 closed

[2019-02-12 10:20] kittaakos commented on #383
I had the same issue. I managed to add a workaround.

[code]

[2019-02-13 20:52] andyvanee commented on #416
I second this, especially as it doesn't match the behaviour of the in-browser FormData.append behaviour, which appears to do string coercion on the value field.

The values that are saved of various non-string inputs when appended in the browser is the same as their value ran through `String()`.

[code]

Here is an example showing this behaviour: https://jsfiddle.net/andyvanee/1z6cv4t8/8/

[2019-02-17 13:13] aacotroneo commented on #383
request's docs say you are supposed to send a plain object actually, not a form-data. It does use form-data, but internally. There's no bug in here, nor needed 'workarounds' - it's just using the libraries correctly. May be there's some outdated info out there.

https://github.com/request/request#multipartform-data-multipart-form-uploads

[2019-02-18 13:45] kittaakos commented on #383
@aacotroneo, do you happen to have a working example?

[2019-02-18 14:36] aacotroneo commented on #383
@kittaakos exactly what you did. What I meant is that's not a 'workaround', that's just the way to use it. You can check a complete example in their docs (It's working for me for strings and stream parameters - I'm using request^2.88.0)

[code]
If you look at their source code they pass that `formData` to form-data almost directly (they just traverse this structure to call the needed formData.appe

[2019-02-18 14:37] aacotroneo commented on #383
if it's not clear.. you don't require('form-data') in your code... you require('request') which uses form-data internally... and you just pass an plain js object.

[2019-02-18 14:40] kittaakos commented on #383
Thank you for the clarification, @aacotroneo!

The [example from `form-data`](https://github.com/form-data/form-data#usage) confused me.

[2019-02-21 09:11] anujtripathi04 commented on #146
Is there a working solution to this issue?

[2019-03-14 13:45] JBtje commented on #414
The `\r\n` only needs to be added after the data. FormData takes care of the breaks after e.g. `Content-Disposition` or `Content-Type`.

The below code is not.... perfect. If you want to post data that has the exact same same header it will not work... but the odds of you doing that are small.
[code]

[2019-03-14 17:51] filips123 commented on #414
What if there are values above 0x7F?

[2019-03-14 22:19] JBtje commented on #414
Because the above method turns the data into a string, it will also have an encoding. Encodings are disastrous for uploading files via multipart forms. For example, 0xFF is received as 3 Bytes on the server using the above method.

So how to solve it? no clue....

The proper way to upload multipart data is by not using any form of encoding, thus a raw Buffer would do. But i'm still testing if I ca

[2019-03-26 04:50] Mike-Van opened #420 "form object still empty after append()"
I'm trying to implement form-data into my next.js application with serverless on backend, and in action i have the following code for uploading the csv file.
[code]
`console.log({form})` show an empty form object even after i append data into it. So when i do `submit()`, it give me an error `form.submit() is not a function`. can someone help me out please?

[2019-03-26 14:31] alexindigo commented on #420
Can you try to run this code as a standalone file in nodejs?

Since next.js bundles your code with browser in mind, it might be pulling browser version of form-data, which expects browser built-in version to be present.
https://github.com/form-data/form-data/blob/master/lib/browser.js

[2019-04-30 09:16] jmendeth commented on #375
This was fixed in felixge/node-combined-stream#38

[2019-04-30 13:21] #375 closed

[2019-04-30 14:03] jmendeth opened #422 "form-data >= 2.3.2 fragments data, causing delays"
If you run the following with form-data v2.3.2:

[code]

You will see that it first sends an incomplete chunk of data to the server:

[code]

After that, [Nagle's algorithm](https://en.wikipedia.org/wiki/Nagle%27s_algorithm) kicks in and blocks the remaining data until the server sends an ACK. Then it's sent:

[code]

In conclusion, all requests made with form-data have **at least 1 RTT of delay**

[2019-04-30 14:09] jmendeth commented on #413
Have you tried downgrading to form-data v2.3.1?
This could be a consequence of #422 + delayed ACKs

[2019-05-07 21:31] Renari opened #423 "getLength does not work with util.promisify"
example:
[code]

output:
[code]

[2019-05-07 21:56] Renari commented on #423
This appears to be because this breaks the reference to the form.

[2019-05-07 21:56] #423 closed

[2019-05-11 18:42] damianobarbati commented on #414
Any news on this? :(

[2019-05-28 16:01] lautarodragan commented on #412
I faced the same issue recently. My biggest pain was the error message - it was confusing me a lot. I wound up reading the source code of the library and arrived at these same lines, which allowed me to figure out the name thing.

In my case I was appending the `req` object provided by Koa (which is an [IncomingMessage
](https://nodejs.org/api/http.html#http_class_http_incomingmessage) and impleme

[2019-06-13 13:53] JaredCE opened #426 "How to generate a content-length?"
I'm trying to use form-data with the node `http` module.

I have some code like:

[code]

But it's not creating a `content-length` header.  How can I use form-data to create and send a content-length header?

[2019-06-19 14:07] tabeth opened #427 "@types/form-data: Property 'getBuffer' does not exist on type 'FormData'"
The new property on `FormData`, `getBuffer` isn't properly typed in TypeScript.

The [latest types](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/form-data/index.d.ts) are the following:
[code]

We need it to look like the following:
[code]

If there isn't already a pull request open in DefinitelyTyped I can create one.

[2019-06-20 00:40] alexindigo commented on #427
Thanks @tabeth. Do you want to bring types into the project, so next time we'd update all things at once? Thank you.

[2019-06-21 03:13] mapleeit commented on #427
Hi, @tabeth

I already made a PR to @types/form-data https://github.com/DefinitelyTyped/DefinitelyTyped/pull/36309

Still waiting for merging though.

---

@alexindigo I'm happy to do that.

[2019-06-21 03:20] alexindigo commented on #427
@mapleeit That would be awesome! 🙏

[2019-06-21 04:37] mapleeit commented on #412
FYI, @lautarodragan #421 has been merged. Please wait for next release.

[2019-06-22 01:12] tabeth commented on #427
@mapleeit you beat me to the punch. I was going to take care of that this weekend. Thanks so much!

[2019-06-24 02:23] #427 closed

[2019-06-30 11:38] JBtje commented on #426
I think this migt help:

_`getLengthSync()` method DOESN'T calculate length for streams, use knownLength options as workaround._

So, you need to provide the length of the stream manually.

[code]
_not tested_

[2019-07-04 09:23] JBtje commented on #414
yes, a little while ago [getBuffer()](https://github.com/form-data/form-data#buffer-getbuffer) method has been added, which contains the full content of the multipart/form-data.
To get the string, you can use [toString()](https://github.com/form-data/form-data#string-tostring), however that will only work as long as the content has characerts below 0x7F. (see above post)

[2019-07-04 09:38] JBtje commented on #405
Certificates are updated in #419

[2019-07-04 09:40] JBtje commented on #400
[getBuffer()](https://github.com/form-data/form-data#buffer-getbuffer)
[toString](https://github.com/form-data/form-data#string-tostring)

[2019-07-11 11:55] rustam87 opened #432 "How i can pass file to other server"
I have express server.
I get file from browser in my express server
How add this file to form-data that send file to another server?

express

[code]
It right way or not? How i can see my file in formData?
After request to another server i can see
FormData {
 _overheadLength: 154,
_valueLength: 4096,
_valuesToMeasure: [],
writable: false,
readable: true,
dataSize: 0,
maxDataSize: 2097152,
pauseStr

[2019-07-11 18:18] TomYeoman opened #433 "Converting back to JSON"
Is it possible to convert back to JSON your form data?

My use case is that I would like to assert the form data I have sent has been mapped correctly

I.E the flow is

`JSON data`  > `Mapped to correct structure` > `Form data created` > `Payload sent`

This would then be used to perform tests like the code below demonstrate ( Nock will pass my the API calls payload automatically making these kind

[2019-07-12 02:44] alexindigo commented on #432
FormData is a stream. You can see it in the code, it invokes CombinedStream `append` with the passed value – https://github.com/form-data/form-data/blob/master/lib/form_data.js#L74
Which adds it to the _streams array. And when stream is being read, _streams array is drained.

Try to use `form.submit` from examples, to check if it's issue with axios or not.

[2019-07-13 05:52] alexindigo commented on #433
FormData is a Stream. It's drained when data is sent out. You may try to use one of the stream tools, like [through2](https://www.npmjs.com/package/through2) – to inspect content going through "pipes".

[2019-07-15 10:06] rustam87 commented on #432
I didn't understand
form.append('file', file.buffer, file.originalname)

Do i need transform file.buffer to stream?
If Yes? how can i do this without or with createReadStream

[2019-07-16 02:22] alexindigo commented on #432
No, you don't have to convert buffer to stream for FormData to use it. But in order to access data "in the stream" after it was drained (sent) you need to do extra steps.

[2019-07-16 06:48] rustam87 commented on #432
Can you give me an example? If it is not difficult for you, of course.

[2019-07-16 15:26] TomYeoman commented on #433
@alexindigo thanks for the information - the issue is I don't have scope to the stream within my tests I just have a string which looks like the following

[code]

Do you know if I can convert this without writing some hacky parser myself?

[2019-08-05 17:15] JLu76 opened #436 "How to sign request with aws4?"
Hi, I'm trying to sign the outgoing request with aws4. What I've tried so far is to create my FormData, append things to it (in this case I add a binary file), then I get the payload by [doing this](https://github.com/form-data/form-data/issues/400#issuecomment-434481337).

[code]

Inside the on finish callback, I take body and include it in options then sign it with aws4. Then, I use https.reques

[2019-08-07 20:58] #436 closed

[2019-08-14 07:55] vuchan opened #438 "Always received 'Stream ended unexpectedly' in SpringBoot Application"
The code with nodejs:
[code]

But this problem shown every time in Sentry:
![image](https://user-images.githubusercontent.com/13431452/63002727-27eb6700-bea9-11e9-90af-e35f26faa5da.png)

Finally, i decided to instead of the `form-data` to `request` and try again, it works.
[code]

I also try to find out in resource code and other issues about this question, but i still confusing and do not underst

[2019-08-18 20:40] charly37 opened #439 "Error with "getBuffer()""
I tried to use the getBuffer function detail here
https://github.com/form-data/form-data#buffer-getbuffer

to get my from as buffer for axios but i end up with an error. I tried to reproduce with the smallest possible code (the issue is when the getBuffer method is call):

[code]

I have the following error when calling this code

I tried to debug without success and had a look on the existing tic

[2019-08-20 02:52] mapleeit commented on #439
https://github.com/form-data/form-data/blob/master/lib/form_data.js#L328

The stream can not be converted to buffer just use `Buffer.from`.

So is this a bug? @JBtje

[2019-08-20 07:30] JBtje commented on #439
`createReadStream` returns type `ReadStream` which is an object. Objects cannot be added to buffer hence the error.

If you use `readFileSync`, it will return a Buffer and it should work.
Question is, is it logical to support a stream when you want to obtains a buffer that you can "hold"?

[2019-08-20 07:56] JBtje commented on #439
@mapleeit see pull request for correction of the documentation.

[2019-08-20 08:14] mapleeit commented on #439
Thank you! @JBtje

Understand totally and I'm agree with you.

I'm closing this now. @charly37 feel free to reply if you have any other questions.

[2019-08-20 08:14] #439 closed

[2019-08-21 15:30] charly37 commented on #439
Thx all for the help. Will give it another try ASAP !

[2019-08-23 16:29] jdalrymple opened #441 "Suggestions regarding typescript + export = FormData"
One of our users ran into a [problem](https://github.com/jdalrymple/node-gitlab/issues/417) due to the typing of form-data :( Specifically the error:

[code]
In the node-gitlab library, the lines that reference form-data are:

[code]

And I have esModuleInterlop set in my tsconfig.

I'm not really sure how to go about solving this problem, any suggestions ? :/

[2019-08-27 07:35] mapleeit commented on #441
May I ask which version do you guys use? Could you provide a minimal reproduce case/repo, so that I can dig what happened.

[2019-08-28 21:14] netaisllc commented on #441
Cannot repro.
We are consuming `form-data` via `request`:

[code]

But making a small repro project, installing `request` and using TypeScript `3.5.3` **does not** recreate the problem.   Sorry I can't help more.

[2019-08-28 21:38] jdalrymple commented on #441
@netaisllc In the same boat here. Not sure how to recreate it with a small example :(

[2019-08-29 09:23] stormmuller commented on #432
This is also something I'm struggling with. It's a common pattern to pass files along to some storage service. Would be cool if someone who managed to do this form-data and express to push an example to the repo.

[2019-08-29 19:13] jdalrymple commented on #441
More information. So compiling in ts with the esModuleInterlop and declarations = true creates errorless code. BUT if this code is then referenced by another node (typescript) program and that program's config does not have the esModuleInterlop = true, it will throw an error pointing to the files in the dependency library. lol kind of confusing, tell me if I need to explain it further.

@netaisllc

[2019-08-30 09:15] mapleeit commented on #441
I checked out my project. Maybe `import * as FromData from "form-data"` is the right way to use.

@jdalrymple could you please try it out and see what happening?

[2019-08-31 03:42] #422 closed

[2019-09-04 11:24] mapleeit commented on #441
ping @jdalrymple @netaisllc

[2019-09-04 20:28] jdalrymple commented on #441
https://github.com/jdalrymple/node-gitlab/issues/417#issuecomment-526574251 Our solution was changing the import for this one ts file:

https://github.com/jdalrymple/node-gitlab/commit/91cfbf27379be535ed90872ce0ea37b29e206d5c

[2019-09-06 12:37] rokerkony opened #443 "types for constructor are incomplete"
hey,
after upgrade to `2.5.*` the types are disallowing to pass specific stream options via constructor, e.g.:
[code]

If I'm correct it should extend the constructor from `stream.Readable`...

[2019-09-07 03:27] mapleeit commented on #443
Yes. Seems that you are right. PR welcome!

[2019-09-19 05:18] edmundogarol commented on #378
@zengdongbao thanks for that. This did it for me.

`request.writable = true;      // set properties `

[2019-09-19 07:08] #378 closed

[2019-09-26 15:50] mohammedSlimani opened #444 "formData object does not have methods"
I wanted to use the formData in my React Native Application to send a file. The code to do this is really simple:
[code]
form.append works.
when I console.log(form) I get this:
[code]
Apparently Everything is saved under the _parts and as an Array.

when I console.log(FormData) I get this:
[code]
I get the same issue when I am trying to use other functions like form.getBoundary()
I have been stuck

[2019-10-03 12:46] mohammedSlimani commented on #444
This is not an issue! I found out it work this way.

[2019-10-03 12:46] #444 closed

[2019-10-11 07:12] rheaditi commented on #394
Have this issue too! :(

Did anyone find a solution? It's been over a year and I'm still unable to find many references to an issue like this.

[2019-10-11 07:56] amannn commented on #394
@rheaditi I tested a few different approaches and ended up with this resolver for a file upload with `apollo-upload-server@7.0.0`.

[code]

Maybe this is helpful to you! I haven't tested with newer versions of `apollo-upload-server` yet.

[2019-10-11 08:26] rheaditi commented on #394
Hey @amannn!
Just tried your approach and it seems to work!

To get around this, we previously had to store the file to the fs temporarily & create a readstream from the fs file and this helps us completely avoid that! You, sir, are a life-saver.

Thank you so much!!! 🙏

[2019-10-11 09:10] amannn commented on #394
I've been there before as well 😅.

Glad I could help you! 🙂

[2019-10-16 16:01] zhang110912 opened #445 "post multi-file but all file are corrupted"
I upload files in the browser environment, and then generate the file first in a directory in the node environment(multiparty.parse()), and then use the form-data module to upload these files, files can be uploaded successfully, but all the files are corrupted and can not be opened.

the code just like this:

`var FormData = require('form-data');`
` var multiparty = require('multiparty');`
 `var f

[2019-10-16 16:03] zhang110912 commented on #445
after multiparty.parse() ,the file generate in '/dir' directory and the file can be opened,
is there anything wrong?

[2019-10-17 07:00] abinavseelan commented on #394
We'd been stuck with this too. 😅

Thank you so much for this @amannn 🙌

[2019-10-29 06:33] #443 closed

[2019-11-05 15:08] rizowski commented on #444
@mohammedSlimani What did you do to get it to work? I am running into this issue today and have been for a while.

[2019-11-06 10:45] mohammedSlimani commented on #444
@rizowski  try to stringify the nested objects that you have inside your data form. For me it was a nested location object, once I did that it worked well!

[2019-11-10 06:18] yueshutong commented on #369
你好，这样子是可以的！
[code]

[2019-11-12 13:32] bodograumann opened #450 "Dependency on node types"
I am working on https://github.com/OpenAPITools/openapi-generator/issues/802 and found that when updating to form-data@2.5 with included typings, I get errors:

[code]

… unless I install `@types/node` myself manually.
So I think you should move that dependency from devDependencies to dependencies.

[2019-11-13 05:32] alexindigo commented on #450
`@types/node` is expected to be present if the project is using TypeScript and is targeting `node`, which is the main (if not only) target for `form-data`.

Curious how come that project doesn't have `@types/node` but uses `form-data`?

[2019-11-13 08:48] bodograumann commented on #450
Yeah, I am not the original author of that code and I think we are just finding our way in terms of node vs. browser target.
Originally we were using `form-data@2.3.2`, where we had to explicitly depend on `@types/form-data`. At that point `@types/node` was included as a dependency of `@types/form-data` automatically. So only after the update we noticed that we actually need `@types/node` for our

[2019-11-13 08:48] #450 closed

[2019-11-14 23:52] andrewmclagan commented on #433
If this library implemented the official FormData API specifications we would be able to iterate over instances and return key value pairs.

[2019-11-14 23:55] andrewmclagan commented on #124
Any traction on this? A unified API would be amazing.

[2019-11-15 03:29] gregory commented on #394
Isn't `rawBody(file.createReadStream())` going to load the all file into memory though? ...

[2019-11-15 08:14] amannn commented on #394
@gregory Yep, that's true. Ideally we'd just forward the stream to `form-data`, but as mentioned above in my code comment, there's a bug that prevents this currently. My solution is just a workaround for the time being.

[2019-11-15 18:16] gregory commented on #394
Got it @amannn - have a look at jaydenseric/graphql-upload#168 - I created a new option called `waitForFileOnDisk` which when set to true, will wait for the file to be written on disk before resolving.

[2019-11-17 23:12] mike-marcacci commented on #394
Hi everybody. I want to clear up a few things here. The problem is that the `form-data` library is looking for a `.path` property on the readable stream, and using it to make two kinds of inferences:

1. The file size:
    https://github.com/form-data/form-data/blob/5c9b3a94aad8482ad8126cd7405a3060cd8e022e/lib/form_data.js#L135-L147
2. The file type:
    https://github.com/form-data/form-data/blob

[2019-11-18 22:30] gregory commented on #394
You got it right @mike-marcacci that's the issue.
That's why I [exposed a new option](https://github.com/jaydenseric/graphql-upload/pull/168/files#diff-4bc221396721e80a53576c01d8dbf4ccR341) in jaydenseric/graphql-upload#168 , to allow any other library relying on the file size & file type, to work with graphql-upload.

Instead of trying to refactor form-data and going down a rabbit hole, I thought

[2019-11-19 01:28] mike-marcacci commented on #394
Hi @gregory, one of the problems with using the undocumented `.path` property (now removed in more recent versions) on `fs-capacitor` streams is that you will get the _wrong values_ for name, type, and size, since:

- the filename used is a randomly generated string
- the file size is not static (the file itself can still be growing, with fs-capacitor coordinating read and write streams)

There is

[2019-11-19 18:59] gregory commented on #394
I don't think that's an issue @mike-marcacci  as you'll usually set those manually:
[code]
As you can see, those will be returned by [graphql-upload](https://github.com/jaydenseric/graphql-upload/blob/master/src/processRequest.mjs#L337)

[2019-12-06 22:49] ordimans opened #452 "How format special character in formData by nodeJS ?"
I have a problem with encoding on special characters, let me show my code :

I have a node which post request directly on website, so i use FormData object to build form data.

The request did by a browser (got the CURL) :
In all example, it's a sample of my data where i have the problem.

[code]
the code is :
[code]

When i sent :

[code]
If i use escapeUnicode function :

[code]
in the formData,

[2019-12-11 09:09] tvk-codecraft commented on #439
Okay. But how to set content type? Current value is `octet/stream`.

[2019-12-11 09:29] KayHS opened #453 "Serverside Only?"
Hi,

Is this library intended to only be used server side?

[2019-12-11 09:32] JBtje commented on #439
I'm unsure what you mean...

A `Buffer` contains raw data. When transferring it, you should use `application/octet-stream`. Once you have e.g. downloaded/uploaded the data, you can convert it to the type you like.

e.g. if I have the string "HELLO WORLD", then the buffer will contain `0x48 0x45 0x4c 0x4c 0x4f 0x20 0x57 0x4f 0x52 0x4c 0x44`. Once this data is transferred, your server (or client) ca

[2019-12-11 14:14] alexindigo commented on #453
Yes, it’s a server-side implementation of the browser-native API.

[2019-12-11 14:37] KayHS commented on #453
thanks

[2019-12-11 14:37] #453 closed

[2019-12-12 06:47] tvk-codecraft commented on #439
@JBtje, yeah, I am able to understand what you mean. Receiving as `application/octet-stream` needs additional step to covert the type. Although, it can be done, it adds complexity.

Is there anyway, to set the data in FormData along with the content type, as exactly same way it happens with web browsers?

I am using FormData in my test cases to make upload requests for tests. Currently, for now, I

[2019-12-12 22:53] osukaa commented on #423
I stumbled uppon this too, what I did was:

`const getFormLength = util.promisify(form.getLength.bind(form));`

[2019-12-16 21:34] yaacovCR commented on #394
@mike-marcacci or anyone, is this actually still a confirmed bug after your update of key to _path? That looks like version 4.0.0 or higher at least?

It looks from my scan of code that form-data only relies on length when necessary to report length in content length header.

Node-fetch looks like will just not populate this header if unavailable, so I am curious why this is still hitting people w

[2019-12-27 09:32] yaacovCR commented on #394
Figured it out -- it's not an issue of duck typing per se, see https://github.com/bitinn/node-fetch/pull/707.

FormData just does not purposefully support streams of unknown length, unless you use NaN workaround.

[2019-12-31 02:34] yaacovCR commented on #394
[graphql-tools-fork v8.1.0](https://www.npmjs.com/package/graphql-tools-fork) provides new exports to allow proxying remote file uploads for those who want to proxy all the things.

It successfully sends a server-to-server multipart form request via FormData and node-fetch by extending the FormData class to handle streams of unknowable length.

See: https://github.com/yaacovCR/graphql-tools-fork/b

[2020-01-06 15:06] bradrisse commented on #432
Here is what I used
[code]

[2020-01-13 10:24] lynxtaa commented on #394
It works for me with additional headers (using node-fetch)

[code]

[2020-02-28 13:36] evgeny44 commented on #390
How do you expect people to answer your question if its in chinese? 🍡

[2020-02-28 16:08] alexindigo commented on #390
How do you run it? Can you provide code example? Thank you.

[2020-03-02 12:22] angusfretwell commented on #394
I'm having a bit of a hard time following this issue. What's the status of it, and is there a reasonable workaround (i.e. one that doesn't involve loading the entire fire into memory)?

[2020-03-02 21:59] yaacovCR commented on #394
@lynxtaa, that doesn't work for me. When using those headers from Node v12 on Windows to express server on same, I get the following error:

```request to http://localhost:50138/ failed, reason: read ECONNRESET```

My summary of the issue is that the combination of the existing Node FormData and fetch polyfills do not allow adding arbitrary streams, as unless they are specific streams, the content

[2020-03-13 00:54] rostgoat commented on #390
having this issue with `http` and `axios`

[code]

[code]

axios method
[code]

[2020-03-20 10:23] mitra42 opened #456 "Passing protocol:https to submit fails"
I"m seeing the following ...
[code]
While https://github.com/form-data/form-data/blob/d7026253e728af9568503dc3dc55cd1a566605e0/test/integration/test-submit-https.js#L17
would suggest that this was valid.

[2020-03-27 17:40] drzraf commented on #394
I can confirm uploading using FormData + `node-fetch` is currently broken.
Workaround: use `form.append('foo', fs.readFileSync(filename));`

[2020-03-27 19:35] lynxtaa commented on #394
After further investigation I think it works for me only because I'm using Nginx reverse proxy in front of my file-upload server. It somehow solves the issue. Maybe it has something to do with [proxy_request_buffering](https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_request_buffering)? By default Nginx buffers a client request body

[2020-03-30 16:09] enricovittorini commented on #213
hello all, when do you think it will be possible to do the "get" method to extract data from the FormData?

[2020-04-09 20:41] t829702 opened #457 "can form-data append a fetch Promise which will resolve to a stream?"
I see form-data append has already supported multiple streams, including http, request, axios, so

[code]

this works, while for some reason, my client code has already depended on node-fetch, when I change to this fetch API, this does not work

[code]

this fetch API returns a Promises which will resolve to a Response, I can chain it to resolve to a stream, but still does not work

[code]

got co

[2020-04-09 21:50] glani commented on #420
It looks like that in angular is the same issue.
Electron application: angular works in a render process. NodeJs is available, however creating new FormData object produces the empty object instance

[2020-04-20 02:37] vedmant opened #458 "How to use multipart/form-data instead of application/x-www-form-urlencoded ?"
How to force multipart/form-data instead of application/x-www-form-urlencoded when using just few text values? Here is example of my code and it produces application/x-www-form-urlencoded but the API backend I'm trying to use requires "multipart/form-data". Couldn't find info in docs about it.

[code]

[2020-04-20 03:01] vedmant commented on #458
Looks like this is Axios specific issue, moved to "got" and it works perfectly.

[code]

[2020-04-20 03:01] #458 closed

[2020-04-22 23:19] nicolasolmos commented on #457
Assuming that you use [this library](https://github.com/request/request#promises--asyncawait) as the request function of your example:

Request its based on the Stream Node.js API.
FormData accepts Node.js Stream objects. That's why it works well with the Request package.

Fetch API retrieves Promises.
I am not sure but I think that FormData does not support Promises.

Chaining .then() method alwa

[2020-04-23 20:47] proof666 opened #459 "Allow to send buffer without content type"
Hi,

We use request.js in conjunction with form-data to communicate with old and no longer supported third-party code, which throws an exception if a header is found 'Content-Type: ******'

Now when you add a buffer with
[code]
the header `content-type` is automatically added with value `application/octet-stream`
[code]

Looking at the code, I see no way to change this behavior.

I am not an exper

[2020-04-24 15:03] ronen commented on #420
@glani FWIW I came across the same problem using Electron.  I was able to get electron to load the Node version instead of the browser version by including `form-data` in the `externals` field of the webpack config.  But then it didn't work for me anyway because streaming doesn't work in the browser version.

The final way that worked was to post the form from the main process instead of the rende

[2020-05-01 20:50] nfadili commented on #394
@yaacovCR  Appreciate the summary. I have been struggling with this for awhile :D
Regarding (1) I am not able to recreate a success with this. I'm assuming by 'contentLength' you mean 'knownLength' in the `form-data` package? i.e.
[code]

The only way I can send a multipart/form request to the server I am dealing with (Power BI API) is by loading the entire file into memory or the filesystem and s

[2020-05-07 18:43] mreis1 opened #462 "Axios integration is broken on v3.0.0 - (version 2.5.1 works)"

[2020-05-08 00:03] JamesJGoodwin opened #463 "How to upload a base64 encoded image as a file?"
Hello. I have an image that is encoded in base64. How do I upload it with form-data without writing it to a file system and reading from it with `createReadStream()`? I have this code currently to make a valid uploadable file:

[code]

What I'm trying to achieve is to upload file without touching a filesystem. I tried various methods including `form.append('photo', Buffer.from(base64str, 'base64')

[2020-05-08 18:05] C-Saunders commented on #463
Have you tried something like this?
[code]

[2020-05-08 18:09] JamesJGoodwin commented on #463
@C-Saunders yes I did. Server is not accepting it like this. I have created a repl for myself, but you can test it as well if you have any ideas: https://repl.it/@JamesJGoodwin/VigilantSparseDeletion

[2020-05-08 18:13] C-Saunders opened #464 "Feature request: ability to set boundary string"
This would enable users to have deterministic request payloads if they need them.

The use-case I have in mind is recording and replay of network interactions with tools like [nock](https://github.com/nock/nock). This doesn't seem to be possible with nondeterministic payloads (or it might be possible with some heavy-duty workarounds).

Edit: ~I should add that this _seems_ fairly straightforward,

[2020-05-11 05:15] tylerlong opened #465 "index.d.ts doesn't have several methods."
[index.d.ts](https://github.com/form-data/form-data/blob/master/index.d.ts) doesn't have methods added in this PR: https://github.com/form-data/form-data/pull/408/files

- get
- getAll
- delete
- has
- set

[2020-05-11 13:27] C-Saunders commented on #465
It looks to me like that PR was closed without merged and those methods don't exist on master. Do you see something I'm missing?

[2020-05-11 15:56] tylerlong commented on #124
I there a way for parsing right now?

[2020-05-11 19:04] tylerlong commented on #465
@C-Saunders You are correct!

[2020-05-11 19:04] #465 closed

[2020-05-13 00:34] m4urer opened #466 "Error trying to post binary file: generate error source.on is not a function TypeError"
I'm trying to post a multipart file to an url, which I already have in a buffer.
If I previously write the file to fs, and then use a readable stream, if works fine. But when I try to use the contents (binary contents), it shows

`[start] generate error source.on is not a function TypeError: source.on is not a function
    at Function.DelayedStream.create (.\node_modules\delayed-stream\lib\delayed

[2020-05-13 13:16] #466 closed

[2020-05-15 22:59] tylerlong opened #468 "Cannot append ArrayBuffer"
[code]

Error:

[code]

[2020-05-19 13:36] C-Saunders commented on #468
My understanding might not be quite right, but arrays aren't a streaming source and aren't supported by form-data. It wouldn't be surprising to me if Uint8Arrays were essentially a special case of array for this purpose.

However, from [this part of the Node docs](https://nodejs.org/api/fs.html#fs_fs_readfilesync_path_options)

Since `fs.readFileSync` returns a buffer, could you do it this way ins

[2020-05-20 02:08] tylerlong commented on #468
@C-Saunders  Thanks.

I was trying to share code between Node.js and browser.
Later I realized that this library is quite different from the `FormData` in browser.  It doesn't support Blob or File type of data.

I will leave this ticket open. But feel free to close it if there is no plan to change the current behavior.

[2020-05-20 08:19] mweiczorek opened #469 "Missing dependency"
While attempting to install this package, this error was thrown:

[code]

[2020-05-21 12:20] kjona commented on #464
I have exactly this use case - thanks for your initiative and PR. Currently, I worked around with local type definition and accessing internal values, but obviously, this ability would be a lot better.

[2020-05-23 20:03] Angad11 commented on #146
@ksahin did your problem solved ?  I am also facing the same issue.

[2020-05-31 14:18] nonoyona opened #470 "FormData can only imported when esModuleInterop flag is set."
I actually don't know exactly what this means, but wouldn't it be possible to implement the index.d.ts file so that FormData can be imported without setting the flag?
Currently, it is exported like this:
[code]
Is there any reason why we could not change it to:
[code]

Best regards
Noah

[2020-06-02 06:34] #464 closed

[2020-06-10 01:55] binki commented on #137
The README still says that `boolean` is accepted and [MDN still says that `FormData.set()` will convert to string](https://developer.mozilla.org/en-US/docs/Web/API/FormData/set). But this library still explodes, behaving differently than browsers are documented to. Since this is a polyfill to support running browser code outside of the browser, can it be updated to behave like the browser?

Thanks

[2020-06-15 09:51] jdalrymple commented on #441
Any update on this :( ?

[2020-06-17 18:59] amrrizk95 commented on #92
i can not  append list of objects to my form data i got empty list  on the action

`
 var SingelValues = {
                            ItemId: singleList.id,
                            inputValue: singleList.value
                        }
                        SingelValues = JSON.stringify(SingelValues);
                        fdata.append("SingelValues[]", SingelValues)
`

[2020-06-18 10:16] gunar opened #472 "Feature request: Functional API"
Hi there,

This library works perfectly. And I was wondering if you'd be open to accepting a PR that extends the API.

Here's my proposed API:
[code]

As comparison, here's what the code for the same intent looks like today:

[code]

And here is a straw-man implementation:

[code]

Looking forward to hearing from you!

Cheers,
Gunar

[2020-06-22 03:42] mapleeit commented on #472
A wonderful thought 👏

[2020-06-22 07:42] nikhilbisht opened #473 "Getting error " TypeError: The "string" argument must be one of type string, Buffer, or ArrayBuffer. Received type object" while using formdata with javascript xhr"
Here is my code

[code]

[2020-06-22 14:06] realies commented on #462
Can you provide more info?

[2020-06-27 08:53] mreis1 commented on #462
Yes, to reproduce, I created a formdata object and sent it using form-data@3.0.0 but it didn't work.
I decided to downgrade to form-data@2.5.1 and it worked without any code changes.

[2020-06-28 14:04] ebebbington opened #474 "[Question] Any plans to port over to Deno?"
form-data would be perfect for my use case - i'm trying to test methods that parse a multipart/form-data request body, but i'm unable to create the headers as part of the unit test (content length, content type+boundary), plus this is all in Deno so I thought i'd have to make a module myself.

Are there any plans on porting form-data over to Deno?

[2020-07-02 12:27] turshija commented on #462
We had the same issue, couldn't make regular username/password POST to work with this code:
[code]

After some struggling, found this issue, downgraded using `npm i form-data@2.5.1` and code started working immediately

[2020-07-03 12:09] szmarczak opened #475 "Unhandled stream error in pipe"
[code]

[code]

I narrowed the source to `combined-stream`:

[code]

I suggest you to drop `combined-stream` since it uses streams v1, which is deprecated.

Ref: https://github.com/sindresorhus/got/issues/1340
/cc @avaly

[2020-07-04 12:54] puzrin opened #476 "files are not submitted in node 14"
I see strange behaviour for attached files (both streams & Buffers). Those are ok in node.js up to 13, but ignored in node.js 14.

The same with `.submit()`, `node-fech`, `got` and so on.

Could you check?

[2020-07-10 09:12] fartymonk opened #477 "Express+Multer+FormData: TypeError: Cannot read property 'method' of undefined"
Hi, I'm using express and multer to upload data from browser, and need to pass the file to another API (cloud storage), but using formdata always give me `TypeError: Cannot read property 'method' of undefined`. I've tried using `fs.createReadStream` and also using buffer (from using multer.memoryStorage), but it still give me the same error.

This is  my code:
[code]

Is there something wrong with